* {
  margin: 0;
  padding: 0;
}

* body {
  margin: 0;
  padding: 0;
  font-family: "krona one";
}

* body p {
  font-family: "jost";
}

* body header .boton a {
  background: #E0FF00;
  color: black;
  padding: 14px 19px;
  line-height: 50px;
  font-size: 10px;
}

* body header .botones a {
  background: #E0FF00;
  color: black;
  padding: 14px 19px;
  line-height: 50px;
  font-size: 13px;
}

* body header .contenedor {
  background-image: url(../imagenes/encabezado2.jpg);
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 5% 5%;
  cursor: url(../imagenes/chevrons-down.svg), auto;
}

* body header .contenedor .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body header .contenedor .menu .logo-y-menu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body header .contenedor .menu .logo-y-menu a {
  text-decoration: none;
}

* body header .contenedor .menu .logo-y-menu nav {
  background: #E0FF00;
  width: 100%;
  position: absolute;
  top: 130px;
  display: none;
  left: 0;
  color: black;
  font-size: 12px;
  margin: bottom 10px;
}

* body header .contenedor .menu .logo-y-menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body header .contenedor .menu .logo-y-menu nav ul li {
  margin-bottom: 10px;
  margin-top: 10px;
}

* body header .contenedor .menu .logo-y-menu nav ul li li {
  list-style: none;
}

* body header .contenedor .menu .logo-y-menu nav ul li a:hover {
  color: white;
}

* body header .contenedor .menu .boton {
  margin-top: 220px;
  display: none;
}

* body header .contenedor .menu .boton a {
  background: #E0FF00;
  color: black;
  padding: 14px 19px;
  line-height: 50px;
  font-size: 13px;
}

* body header .contenedor .menu .boton .boton:hover {
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

* body header .contenedor .titular {
  margin-top: 5%;
  color: #fff;
}

* body header .contenedor .titular h1 {
  font-size: 32px;
  padding-top: 20px;
}

* body header .contenedor .titular h1 span {
  color: transparent !important;
  background-image: linear-gradient(322deg, white, #e0ff00, white);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-animation: AnimationGradient 3s ease infinite;
  animation: AnimationGradient 3s ease infinite;
}

* body header .contenedor .titular H1:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

* body header .contenedor .titular .botones a {
  background: #E0FF00;
  color: black;
  padding: 14px 19px;
  line-height: 50px;
  font-size: 13px;
}

* body header .contenedor .titular .botones .blanco {
  background: #fff !important;
}

* body header .contenedor .titular .botones .blanco:hover {
  background: #e6e4e4 !important;
}

* body #discografia {
  background: #000;
  color: #fff;
}

* body #discografia .contenedor {
  padding-right: 3px;
  padding-left: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body #discografia .contenedor .texto {
  padding: 5% 5%;
}

* body #discografia .contenedor .texto h2 {
  font-size: 27px;
  padding-top: 10px;
}

* body #discografia .contenedor .texto h2 span {
  text-decoration: underline;
  color: transparent !important;
  background-image: linear-gradient(322deg, #e0ff00, #ffffff);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-animation: AnimationGradient 3s ease infinite;
  animation: AnimationGradient 3s ease infinite;
}

* body #discografia .contenedor .texto h4 {
  margin: 0;
  color: #E0FF00;
  border: 2px solid #121212;
  width: 120px;
  padding: 10px;
  border-radius: 20px;
  font-size: small;
  text-align: center;
}

* body #discografia .contenedor .texto a {
  background: #E0FF00;
  color: black;
  padding: 14px 19px;
  line-height: 50px;
  font-size: 13px;
}

* body #discografia .contenedor .texto a:hover {
  background-color: yellow;
}

* body #discografia .contenedor .card-deck {
  text-align: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  padding: 5% 5%;
}

* body #discografia .contenedor .card-deck .card:hover {
  -webkit-box-shadow: 0px 0px 15px 2px #FFFF;
  box-shadow: 0px 0px 15px 2px #FFFF;
}

* body #discografia .contenedor .card-deck .card {
  width: 100% !important;
}

* body #discografia .contenedor .card-deck .card .card-header {
  color: #121212;
  text-align: center;
  font-size: medium;
  background: #EA90FF;
  background: -webkit-gradient(linear, left top, right top, from(#EA90FF), color-stop(50%, #FFFFFF), to(#F0FF87));
  background: linear-gradient(to right, #EA90FF 0%, #FFFFFF 50%, #F0FF87 100%);
}

* body #discografia .contenedor .card-deck .card .card-footer {
  background: #EA90FF;
  background: -webkit-gradient(linear, left top, right top, from(#EA90FF), color-stop(50%, #FFFFFF), to(#F0FF87));
  background: linear-gradient(to right, #EA90FF 0%, #FFFFFF 50%, #F0FF87 100%);
  padding: 7px 10px;
}

* body #discografia .contenedor .card-deck .card .card-footer .redes {
  text-align: center;
}

* body #discografia .contenedor .card-deck .card .card-footer .redes a {
  text-decoration: none;
}

* body #discografia .contenedor .card-deck .card .card-footer .redes a img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  margin: 3.2px 3.2px;
}

* body #discografia .contenedor .card-deck .card .card-footer .redes a .footer__img-redes {
  width: 2vmax !important;
  height: 2vmax !important;
}

* body #discografia .contenedor .card-deck .card .card-footer .redes a:hover img {
  -webkit-filter: none;
          filter: none;
}

* body #about .contenedor {
  padding: 10% 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body #about .contenedor h4 {
  color: #000;
  border: 2px solid #E0FF00;
  text-align: center;
  margin-bottom: 10px;
  width: 120px;
  padding: 10px;
  border-radius: 20px;
  font-size: small;
  text-align: center;
}

* body #about .contenedor .contenedor-textos .texto-izquierda h2 {
  font-size: 27px;
}

* body #about .contenedor .contenedor-textos .texto-derecha h2 {
  font-size: 27px;
}

* body #about .contenedor .contenedor-textos .texto-derecha .botones a {
  background: #E0FF00;
  color: black;
  padding: 14px 19px;
  line-height: 50px;
  font-size: 13px;
}

* body #about .contenedor .contenedor-textos .texto-derecha .botones a:hover {
  background: yellow;
}

* body #about .contenedor .contenedor-textos .texto-derecha .botones .negro {
  background: #262626;
  color: #A8A8A8;
}

* body #about .contenedor .contenedor-textos .texto-derecha .botones .negro:hover {
  background: #121212;
}

* body #tour {
  background: #E0FF00;
  padding: 1px 0px;
}

* body #tour .contenedor {
  padding: 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body #tour .contenedor .imagen {
  width: 65%;
  position: relative;
  top: -35px;
}

* body #tour .contenedor .imagen img {
  width: 100%;
}

* body #tour .contenedor .imagen img:hover {
  width: 100%;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}

* body #tour .contenedor .texto {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body #tour .contenedor .texto h4 {
  color: #000;
  border: 2px solid #121212;
  text-align: center;
  width: 120px;
  padding: 5px;
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: small;
  text-align: center;
}

* body #tour .contenedor .texto h2 {
  font-size: 27px;
}

* body #tour .fechas {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 85%;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: 60px;
  border-bottom: 1px solid #A8A8A8;
}

* body #tour .fechas .numero {
  margin-bottom: 10px;
  font-size: 34px;
}

* body #tour .fechas .fecha {
  margin-bottom: 10px;
}

* body #tour .fechas .lugar {
  margin-bottom: 10px;
}

* body #tour .fechas .lugar h5 {
  margin: 0;
  font-size: 20px;
}

* body #tour .fechas .lugar p {
  margin: 0;
}

* body #tour .fechas .boton {
  margin-bottom: 10px;
}

* body #tour .fechas .boton a {
  background: white;
  color: black;
  padding: 15px 30px;
  font-size: 13px;
}

* body #tour .fechas .boton a:hover {
  background: #f1f0f0;
}

* body .galeria {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 160px;
  height: 1300px;
  width: 100%;
  background: #000000;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(20%, #121212), to(#FFFFFF));
  background: linear-gradient(to bottom, #000000 0%, #121212 20%, #FFFFFF 100%);
}

* body .galeria h4 {
  color: #e6e4e4;
  border: 2px solid #E0FF00;
  text-align: center;
  margin: 0;
  width: 120px;
  padding: 10px;
  border-radius: 20px;
  font-size: 13px;
}

* body .galeria h2 {
  color: #e6e4e4;
  font-size: 27px;
  padding-top: 20px;
  padding-bottom: 20px;
}

* body .galeria .galeria_video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* body .galeria .galeria_video video {
  width: 99%;
  height: auto;
}

* body .galeria .galeria_video_texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* body .galeria .galeria_video_texto h5 {
  padding: 5px 40px;
  font-family: jost;
  color: #f1f0f0;
  font-size: 13px;
}

* body .galeria .contenedor {
  padding: 30px 30px;
  width: 100%;
  height: 800px;
  display: -ms-grid;
  display: grid;
  grid-gap: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body .galeria .contenedor .img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

* body .galeria .contenedor .img1 {
  background-image: url(../imagenes/57506266_681281678958174_8623268720635198201_n.jpg);
  background-size: cover;
  background-position: center;
}

* body .galeria .contenedor .img2 {
  background-image: url(../imagenes/Carrousel_dj-g2014a0c09_1280.jpg);
  background-size: cover;
  background-position: center;
}

* body .galeria .contenedor .img3 {
  background-image: url(../imagenes/Carrousel_dj-gc076fd631_1280.jpg);
  background-size: cover;
  background-position: center;
}

* body .galeria .contenedor .img4 {
  background-image: url(../imagenes/Carrousel_nightclub-g4323089a3_1280.jpg);
  background-size: cover;
  background-position: center;
}

* body .galeria .contenedor .img5 {
  background-image: url(../imagenes/Carrousel_people-g61f1b25e8_1280.jpg);
  background-size: cover;
  background-position: center;
}

* body .galeria .contenedor .img6 {
  background-image: url(../imagenes/Carrousel_concert-g196aeaa3f_1280.jpg);
  background-size: cover;
  background-position: center;
}

* body .galeria .contenedor .img7 {
  background-image: url(../imagenes/xale_tocando.jpg);
  background-size: cover;
  background-position: center;
}

* body .galeria .contenedor .img8 {
  background-image: url(../imagenes/Carrousel_club-g3abfaf477_1280.jpg);
  background-size: cover;
  background-position: center;
}

* body #form .contenedor {
  background: #000000;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(20%, #121212), to(#FFFFFF));
  background: linear-gradient(to bottom, #000000 0%, #121212 20%, #FFFFFF 100%);
  padding: 140px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body #form .contenedor h4 {
  color: #e6e4e4;
  border: 2px solid #E0FF00;
  text-align: center;
  margin: 0;
  width: 120px;
  padding: 10px;
  border-radius: 20px;
  font-size: 13px;
}

* body #form .contenedor h2 {
  color: #e6e4e4;
  font-size: 27px;
  padding-top: 20px;
}

* body #form .contenedor .contenedor_iframe {
  background: #EA90FF;
  background: -webkit-gradient(linear, left top, right top, from(#EA90FF), color-stop(50%, #FFFFFF), to(#F0FF87));
  background: linear-gradient(to right, #EA90FF 0%, #FFFFFF 50%, #F0FF87 100%);
  width: 100%;
  height: 100%;
}

* body #form .contenedor .contenedor_iframe .loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../imagenes/loading-25.gif") 50% 50% no-repeat #f9f9f9;
  background-size: 5%;
  opacity: .8;
}

* body #form .contenedor .contenedor_iframe iframe {
  height: 1150px;
}

* body #form .contenedor p {
  color: #e6e4e4;
}

* body #bio .contenedor {
  background: #000000;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(20%, #121212), to(#FFFFFF));
  background: linear-gradient(to bottom, #000000 0%, #121212 20%, #FFFFFF 100%);
  padding-bottom: 20px;
  padding-top: 160px;
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body #bio .contenedor h4 {
  color: #e6e4e4;
  border: 2px solid #E0FF00;
  text-align: center;
  margin: 0;
  width: 120px;
  padding: 10px;
  border-radius: 20px;
  font-size: 13px;
}

* body #bio .contenedor h2 {
  color: #e6e4e4;
  font-size: 27px;
  padding-top: 20px;
}

* body #bio .contenedor p {
  color: #FFFFFF;
}

* body #bio .contenedor .texto-bio .bloque_parrafo_bio {
  width: auto;
  float: none;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
}

* body #bio .contenedor .texto-bio .bloque_parrafo_bio .botones a {
  background: #E0FF00;
  color: black;
  padding: 14px 19px;
  line-height: 50px;
  font-size: 13px;
}

* body #bio .contenedor .texto-bio .bloque_parrafo_bio .botones a:hover {
  background: yellow;
}

* body #bio .contenedor .texto-bio .bloque_parrafo_bio span {
  color: #121212;
}

* body #bio .contenedor .texto-bio .contenedor_foto_perfil {
  width: auto;
  float: none;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
}

* body #bio .contenedor .texto-bio .contenedor_foto_perfil .foto_perfil {
  width: 100%;
}

* body #bio .contenedor .texto-bio .contenedor_foto_perfil .foto_perfil img {
  width: 100%;
  height: 100%;
}

* body #bio .contenedor .texto-bio .contenedor_foto_perfil .links_redes {
  text-align: center;
  padding: 7px 0px;
}

* body #bio .contenedor .texto-bio .contenedor_foto_perfil .links_redes a {
  padding-top: 10px;
  text-decoration: none;
}

* body #bio .contenedor .texto-bio .contenedor_foto_perfil .links_redes a img {
  width: 1.5vmax !important;
  height: 1.5vmax !important;
  margin: 15px 6px;
}

* body #bio .contenedor_carousel {
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 40px;
}

* body #bio .contenedor_carousel .carousel.slide .carousel-inner img {
  width: 100%;
  height: 100%;
}

* body #music .contenedor {
  background: #000000;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(20%, #121212), to(#FFFFFF));
  background: linear-gradient(to bottom, #000000 0%, #121212 20%, #FFFFFF 100%);
  padding-top: 160px;
  padding-bottom: 40px;
  padding-right: 3px;
  padding-left: 3px;
}

* body #music .contenedor h4 {
  color: #e6e4e4;
  border: 2px solid #E0FF00;
  text-align: center;
  margin: 0;
  width: 120px;
  padding: 10px;
  border-radius: 20px;
  font-size: 13px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* body #music .contenedor h2 {
  color: #e6e4e4;
  font-size: 27px;
  padding-top: 20px;
}

* body #music .contenedor .card-deck {
  text-align: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

* body #music .contenedor .card-deck .card:hover {
  -webkit-box-shadow: 0px 0px 15px 2px #FFFF;
  box-shadow: 0px 0px 15px 2px #FFFF;
}

* body #music .contenedor .card-deck .card {
  width: 100% !important;
  margin-top: 30px;
}

* body #music .contenedor .card-deck .card .card-header {
  padding: 7px 10px;
  color: #e6e4e4;
  text-align: center;
  font-size: medium;
  background: #000000;
  background: -webkit-gradient(linear, left top, right top, from(#000000), color-stop(52%, #262626), to(#000000));
  background: linear-gradient(to right, #000000 0%, #262626 52%, #000000 100%);
}

* body #music .contenedor .card-deck .card .card-footer {
  background: #000000;
  background: -webkit-gradient(linear, left top, right top, from(#000000), color-stop(52%, #262626), to(#000000));
  background: linear-gradient(to right, #000000 0%, #262626 52%, #000000 100%);
  padding: 7px 10px;
}

* body #music .contenedor .card-deck .card .card-footer .redes {
  text-align: center;
}

* body #music .contenedor .card-deck .card .card-footer .redes a {
  text-decoration: none;
}

* body #music .contenedor .card-deck .card .card-footer .redes a img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  margin: 3.2px 3.2px;
}

* body #music .contenedor .card-deck .card .card-footer .redes a .footer__img-redes {
  width: 2vmax !important;
  height: 2vmax !important;
}

* body #music .contenedor .card-deck .card .card-footer .redes a:hover img {
  -webkit-filter: none;
          filter: none;
}

* body footer {
  text-align: center;
  padding: 20.8px 20.8px;
  background: white;
}

* body footer h3 {
  font-size: 14px;
}

* body footer p {
  font-size: 14px;
}

* body footer .contenedor .redes a {
  text-decoration: none;
}

* body footer .contenedor .redes a img {
  width: 20px !important;
  height: 20px !important;
  margin: 10px 7px;
}

* body footer .contenedor p {
  font-family: "jost";
}

@media only screen and (max-width: 920px) {
  body header .contenedor .menu .boton {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) {
  body a {
    text-decoration: none;
  }
  body li {
    list-style: none;
  }
  body header {
    height: 95vh;
  }
  body header .contenedor {
    background-attachment: fixed;
    min-height: 500px;
    padding: 0% 0%;
  }
  body header .contenedor .menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-bottom: 1px groove #a8a8a8;
  }
  body header .contenedor .menu .logo-y-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body header .contenedor .menu .logo-y-menu .menu-icon {
    display: none;
  }
  body header .contenedor .menu .logo-y-menu nav {
    background: unset;
    width: unset;
    position: unset;
    display: inline-block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    color: #fff;
    font-size: 15px;
  }
  body header .contenedor .menu .logo-y-menu nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    color: #fff;
    font-size: 15px;
  }
  body header .contenedor .menu .logo-y-menu nav ul li {
    margin: 0 20px;
  }
  body header .contenedor .menu .logo-y-menu nav ul li a {
    color: #E0FF00;
    font-size: 15px;
  }
  body header .contenedor .menu .logo-y-menu nav ul li a:hover {
    color: yellow;
    text-decoration: underline;
  }
  body header .contenedor .menu .boton {
    -webkit-box-shadow: 0px 0px 15px 2px #E0FF00;
    box-shadow: 0px 0px 15px 2px #E0FF00;
    margin: 20px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body header .contenedor .menu .boton a {
    padding: 5px 15px;
    font-size: 10px;
  }
  body header .contenedor .menu .boton:hover a {
    background: yellow;
  }
  body header .contenedor .titular {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0%;
  }
  body header .contenedor .titular h1 {
    font-size: 200%;
    width: 100%;
  }
  body header .contenedor .titular .botones a {
    padding: 10px 20px;
    font-size: 10px;
  }
  body header .contenedor .titular .botones .botones:hover {
    background: yellow;
  }
  body #discografia p {
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 40px;
  }
  body #discografia .contenedor {
    padding: 20px 120px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body #discografia .contenedor .texto {
    width: 50%;
  }
  body #discografia .contenedor .texto h2 {
    font-size: 40px;
    margin-bottom: 10px;
  }
  body #discografia .contenedor .texto h4 {
    border-radius: 60px;
    font-size: 13px;
    text-align: center;
    margin-bottom: 10px;
  }
  body #discografia .contenedor .texto a {
    padding: 20px 40px;
    line-height: 100px;
  }
  body #discografia .contenedor .card-deck {
    margin-right: 40px;
    color: #121212;
  }
  body #about .contenedor {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 12%;
    padding-right: 12%;
  }
  body #about .contenedor h4 {
    border-radius: 60px;
    font-size: 13px;
    text-align: center;
  }
  body #about .contenedor .contenedor-textos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body #about .contenedor .contenedor-textos h2 {
    padding-top: 20px;
  }
  body #about .contenedor .contenedor-textos .texto-derecha {
    margin: 0 10px;
  }
  body #about .contenedor .contenedor-textos .texto-izquierda {
    margin: 0 10px;
  }
  body #form .contenedor {
    padding: 140px 140px;
  }
  body #form .contenedor .contenedor_iframe iframe {
    height: 900px;
  }
  body #tour .contenedor {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 20px;
    padding-bottom: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body #tour .contenedor .imagen {
    width: 30%;
    top: -80px;
  }
  body #tour .contenedor .texto {
    width: 55%;
  }
  body #tour .contenedor .texto h4 {
    font-size: 15px;
  }
  body #tour .contenedor .texto h2 {
    padding-top: 20px;
  }
  body #tour .fechas {
    padding: 0px 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body #tour .fechas .boton {
    margin-bottom: 5px;
  }
  body #tour .fechas .boton a {
    background: white;
    color: black;
    padding: 15px 30px;
  }
  body #music .contenedor {
    padding-left: 100px;
    padding-right: 100px;
  }
  body #music .contenedor .card-deck .card .card-header {
    font-size: 0.9vmax !important;
  }
  body #bio .contenedor {
    padding-left: 130px;
    padding-right: 130px;
  }
  body #bio .contenedor .texto-bio .bloque_parrafo_bio {
    padding-right: 0px;
    width: 50%;
    float: left;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  body #bio .contenedor .texto-bio .contenedor_foto_perfil {
    padding-left: 0px;
    width: 50%;
    float: left;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  body #bio .contenedor .texto-bio .contenedor_foto_perfil .foto_perfil {
    width: 100%;
  }
  body #bio .contenedor .texto-bio .contenedor_foto_perfil .foto_perfil img {
    width: 100%;
    height: 100%;
  }
  body #bio .contenedor .texto-bio .contenedor_foto_perfil .links_redes a img {
    width: 2vmax !important;
    height: 2vmax !important;
    margin: 15px 10.5px;
  }
  body .galeria {
    height: 1450px;
  }
  body .galeria .galeria_video video {
    width: 609px;
    height: 343px;
  }
  body .galeria .contenedor {
    padding: 30px 0px;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  body .galeria .contenedor .img1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  body .galeria .contenedor .img2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  body .galeria .contenedor .img3 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  body .galeria .contenedor .img4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  body .galeria .contenedor .img5 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
  }
  body .galeria .contenedor .img6 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  body .galeria .contenedor .img7 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  body .galeria .contenedor .img8 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}

@media only screen and (min-width: 478px) and (max-width: 575px) {
  body #music .contenedor {
    padding-left: 15% !important;
    padding-right: 15% !important;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  body header .contenedor .titular h1 {
    padding-top: 75px;
  }
  body header .contenedor .titular .botones a {
    padding: 20px 40px;
    line-height: 100px;
  }
  body #discografia .contenedor .texto {
    width: 100%;
  }
  body #tour .contenedor .imagen {
    top: -55px;
    width: 50%;
  }
  body #tour .contenedor .texto {
    padding-left: 5%;
    padding-right: 5%;
  }
  body #bio .contenedor {
    padding-left: 60px;
    padding-right: 60px;
  }
  body #bio .contenedor .texto-bio .bloque_parrafo_bio {
    width: auto;
    float: none;
  }
  body #bio .contenedor .texto-bio .bloque_parrafo_bio p {
    color: #121212;
  }
  body #bio .contenedor .texto-bio .contenedor_foto_perfil {
    width: auto;
    float: none;
  }
  body #bio .contenedor .texto-bio .contenedor_foto_perfil .foto_perfil {
    size: 70%;
  }
  body #bio .contenedor .texto-bio .contenedor_foto_perfil .links_redes a img {
    width: 2.5vmax !important;
    height: 2.5vmax !important;
    margin: 15px 10.5px;
  }
  body #form .contenedor .contenedor_iframe iframe {
    height: 1000px;
  }
  body #music .contenedor .card-deck .card .card-header {
    font-size: 0.9vmax !important;
  }
  body .galeria {
    height: 1420px;
  }
  body .galeria .contenedor {
    padding: 30px 20px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  body .galeria .contenedor .img8 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  body header .contenedor .titular h1 {
    padding-top: 75px;
  }
  body header .contenedor .titular .botones a {
    padding: 20px 40px;
    line-height: 100px;
  }
  body #tour {
    padding: 1px 0;
  }
  body #tour .contenedor .imagen {
    top: -40px;
  }
  body #bio .contenedor .texto-bio .bloque_parrafo_bio {
    width: auto;
    float: none;
  }
  body #bio .contenedor .texto-bio .bloque_parrafo_bio p {
    color: #121212;
  }
  body #bio .contenedor .texto-bio .contenedor_foto_perfil {
    width: auto;
    float: none;
  }
  body #bio .contenedor .texto-bio .contenedor_foto_perfil .foto_perfil {
    size: 70%;
  }
  body #bio .contenedor .texto-bio .contenedor_foto_perfil .links_redes a img {
    width: 2.5vmax !important;
    height: 2.5vmax !important;
  }
  body #form .contenedor {
    padding: 140px 20px;
  }
  body #form .contenedor .contenedor_iframe iframe {
    height: 1050px;
  }
  body #music .contenedor {
    padding-left: 15%;
    padding-right: 15%;
  }
  body #music .contenedor .card-deck .card {
    width: 100% !important;
  }
  body #music .contenedor .card-deck .card .card-header {
    font-size: medium;
  }
  body #music .contenedor .card-deck .card .card-footer .redes img {
    margin: 5px 5px;
  }
  body .galeria .contenedor {
    padding: 30px 20px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  body .galeria .contenedor .img1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  body .galeria .contenedor .img2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
  }
  body .galeria .contenedor .img5 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  body .galeria .contenedor .img8 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

@-webkit-keyframes AnimationGradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 93% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes AnimationGradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 93% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

#header.header-scrolled {
  background: #000000;
  padding: 20px 0;
  height: 72px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#header {
  padding: 30px 0;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 997;
  background-color: #121212;
  -webkit-box-shadow: 5px 0px 15px #c3c3c3;
          box-shadow: 5px 0px 15px #c3c3c3;
}

#header #logo h1 {
  background-image: url(../imagenes/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 34px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 3px;
}

#header #logo h1 a, #header #logo h1 a:hover {
  color: #000;
  padding-left: 10px;
  border-left: 4px solid yellow;
}

#nav-menu-container {
  float: right;
  margin: 0;
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu > li {
  float: left;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-scrolled .nav-menu li:hover > a, .header-scrolled .nav-menu > .menu-active > a {
  color: yellow;
}

.header-scrolled .nav-menu a {
  color: #E0FF00;
}

.nav-menu li:hover > a, .nav-menu > .menu-active > a {
  color: #E0FF00;
  text-decoration: underline;
}

.nav-menu a {
  padding: 0 8px 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: white;
  font-weight: 700;
  font-size: 13px;
  outline: none;
}

#mobile-nav-toggle {
  display: inline;
}

#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.8);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight: 700;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #E0FF00;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-item-active {
  color: #E0FF00;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

.menu-has-children ul {
  display: none;
}

.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  color: black;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
          box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
  #mobile-nav-toggle {
    display: inline;
  }
}
/*# sourceMappingURL=estilos.css.map */