* {
    margin: 0;
    padding: 0;
    body{
        margin:0;
        padding:0;
        font-family: "krona one";
        p{
            font-family: "jost";
        }
        header{
            .boton{
                a{
                    background: #E0FF00;
                    color: black;
                    padding: 14px 19px;
                    line-height: 50px;
                    font-size: 10px;
                }
            }
            .botones{
                a{
                    background: #E0FF00;
                    color: black;
                    padding: 14px 19px;
                    line-height: 50px;
                    font-size: 13px;
                }
            }
            .contenedor{
                background-image:url(../imagenes/encabezado2.jpg);
                background-size: cover;
                background-attachment: scroll;
                background-position: center;
                background-repeat: no-repeat;
                width:100%;
                height: 100%;
                margin:auto;
                padding:5% 5%;
                .menu{
                    display: flex;
                    flex-direction: column; 
                    .logo-y-menu {
                        justify-content: space-between;
                        display:flex; 
                        align-items:center;
                        flex-direction: column;
                        a{
                            text-decoration:none;
                        }
                        nav {
                            background:#E0FF00;
                            width: 100%;
                            position: absolute;
                            top: 130px;
                            display: none;
                            left: 0;
                            color: black;
                            font-size: 12px;
                            margin: bottom 10px;
                            ul{
                                display:flex;
                                flex-direction: column;
                                li{
                                    margin-bottom: 10px;
                                    margin-top: 10px;
                                    li{
                                        list-style:none;
                                    }                            
                                    a:hover {
                                        color: white;
                                    }
                                }
                            }
                        }
                    }
                    .boton{
                        a{
                            background: #E0FF00;
                            color: black;
                            padding: 14px 19px;
                            line-height: 50px;
                            font-size: 13px;
                        }
                        margin-top: 220px;
                        display: none;
                        .boton:hover {
                            transition: all 1.2s;
                            filter:grayscale(1);
                        }
                    }
                }
                .titular{
                    margin-top: 19vh;
                    color:#fff;
                    h1{
                        font-size: 32px;
                        padding-top: 20px;
                        span{
                            color: transparent !important;
                            background-image: linear-gradient(322deg, white, #e0ff00, white);
                            background-size: 400% 400%;
                            -webkit-background-clip: text;
                            background-clip: text;
                            -webkit-animation: AnimationGradient 3s ease infinite ;
                            -moz-animation: AnimationGradient 3s ease infinite ;
                            animation: AnimationGradient 3s ease infinite ;
                        }
                    }
                    H1:hover{
                        transform: scale(1.01);
                        transition: all 0.5s;
                    }
                    .botones{
                        a{
                            background: #E0FF00;
                            color: black;
                            padding: 14px 19px;
                            line-height: 50px;
                            font-size: 13px;
                        }
                        .blanco {
                            background: #fff !important;
                        }
                        .blanco:hover{
                            background:#e6e4e4 !important;
                        }
                        .scrollDown{
                            display:flex;
                            height: 100%;
                            justify-content: center;
                            img{
                                margin-top: 0px;
                            }
                            img:hover{
                                transform: scale(1.10);
                                transition: all 0.5s;
                            }
                            a{
                                background: #e1ff0000;
                                color: black;
                                padding: 14px 19px;
                                line-height: 50px;
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }            
        #discografia {
            background: #000;
            color:#fff;
            .contenedor{
                padding-right:3px;
                padding-left:3px;
                display: flex; 
                align-items:center; 
                flex-direction: column; 
                .texto{
                    padding: 5% 5%;
                    h2 {
                        font-size: 27px;
                        padding-top: 10px;
                        span{
                            text-decoration: underline;
                            color: transparent !important;
                            background-image: linear-gradient(322deg, #e0ff00, #ffffff);
                            background-size: 400% 400%;
                            -webkit-background-clip: text;
                            background-clip: text;
                            -webkit-animation: AnimationGradient 3s ease infinite;
                            -moz-animation: AnimationGradient 3s ease infinite;
                            animation: AnimationGradient 3s ease infinite;
                        }
                    }
                    h4{
                        margin: 0;
                        color: #E0FF00;
                        border: 2px solid #121212;
                        width: 120px;
                        padding: 10px;
                        border-radius:20px;
                        font-size: small;
                        text-align: center;
                    }
                    a{
                        background: #E0FF00;
                        color: black;
                        padding: 14px 19px;
                        line-height: 50px;
                        font-size: 13px;
                    }
                    a:hover{
                        background-color: yellow;
                    }
                }
                .card-deck{
                    text-align: center !important;
                    align-items: center !important;
                    padding: 5% 5%;
                    .card:hover{
                        -webkit-box-shadow: 0px 0px 15px 2px #FFFF;
                        box-shadow: 0px 0px 15px 2px #FFFF;
                    }
                    .card{
                        width:100% !important;
                        .card-header{
                            color: #121212;
                            text-align: center;
                            font-size: medium;
                            background: #EA90FF;
                            background: -moz-linear-gradient(left, #EA90FF 0%, #FFFFFF 50%, #F0FF87 100%);
                            background: -webkit-linear-gradient(left, #EA90FF 0%, #FFFFFF 50%, #F0FF87 100%);
                            background: linear-gradient(to right, #EA90FF 0%, #FFFFFF 50%, #F0FF87 100%);
                        }
                        .card-footer{
                            background: #EA90FF;
                            background: -moz-linear-gradient(left, #EA90FF 0%, #FFFFFF 50%, #F0FF87 100%);
                            background: -webkit-linear-gradient(left, #EA90FF 0%, #FFFFFF 50%, #F0FF87 100%);
                            background: linear-gradient(to right, #EA90FF 0%, #FFFFFF 50%, #F0FF87 100%);
                            padding:7px 10px;
                            .redes{
                                text-align: center;
                                a{
                                    text-decoration: none;
                                    img{
                                        filter: grayscale(100%);
                                        margin: 3.2px 3.2px;
                                    }
                                    .footer__img-redes{
                                        width:2vmax !important;
                                        height:2vmax !important;
                                    }
                                }
                                a:hover{
                                    img{
                                        filter:none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        #about {
            .contenedor{
                padding: 10% 7%;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                h4{
                    color: #000;
                    border: 2px solid #E0FF00;
                    text-align: center;
                    margin-bottom: 10px;
                    width: 120px;
                    padding: 10px;
                    border-radius:20px;
                    font-size: small;
                    text-align: center;
                }
                .contenedor-textos{
                    .texto-izquierda{
                        h2{
                            font-size: 27px;
                        }
                    }
                    .texto-derecha{
                        h2{
                            font-size: 27px;
                        }
                        .botones{
                            a{
                                background: #E0FF00;
                                color: black;
                                padding: 14px 19px;
                                line-height: 50px;
                                font-size: 13px;
                            }
                            a:hover{
                                background: yellow;
                            }
                            .negro{
                                background: #262626;
                                color:#A8A8A8;
                            }
                            .negro:hover{
                                background: #121212;
                            }
                        }
                    }
                }
            }
        }
        #tour {
            background: #E0FF00;
            padding: 1px 0px;
            .contenedor{
                padding: 20px 20px;
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                align-items: center;
                .imagen{
                    width: 65%;
                    position: relative;
                    top: -35px;
                    img{
                        width: 100%;
                    }
                    img:hover {
                        width: 100%;
                        transform: scale(1.05);
                        transition: all 1.2s;
                    }
                }
                .texto{
                    width: 100%;
                    align-items: center;
                    h4{
                        color: #000;
                        border: 2px solid #121212;
                        text-align: center;
                        width: 120px;
                        padding: 5px;
                        border-radius:20px;
                        margin-bottom: 10px;
                        padding: 10px;
                        font-size: small;
                        text-align: center;
                    }
                    h2{
                        font-size: 27px;
                    }
                }
            }
            .fechas{
                align-items: center;
                text-align: center;
                display: flex; 
                flex-direction: column; 
                justify-content: space-around; 
                width: 85%;
                margin: auto;
                padding-bottom: 5px;
                margin-bottom: 60px;
                border-bottom: 1px solid #A8A8A8;
                .numero{
                    margin-bottom: 10px;
                    font-size: 34px;
                }
                .fecha{
                    margin-bottom: 10px;
                }
                .lugar{
                    margin-bottom: 10px;
                    h5{
                        margin:0;
                        font-size: 20px;
                    }
                    p{
                        margin:0;
                    }
                }
                .boton{
                    margin-bottom: 10px;
                    a{
                        background: white;
                        color: black;
                        padding: 15px 30px;
                        font-size: 13px;
                    }
                    a:hover{
                        background:#f1f0f0;
                    }
                }
            }
        }
        .galeria{
            padding-left: 10%;
            padding-right: 10%;
            h4{
                color:#e6e4e4;
                border: 2px solid #E0FF00;
                text-align: center;
                margin: 0;
                width: 120px;
                padding: 10px;
                border-radius:20px;
                font-size: 13px;
            }
            h2{
                color: #e6e4e4;
                font-size: 27px;
                padding-top: 20px;
                padding-bottom: 20px;
            }
            padding-top: 160px;
            height:1300px;
            width:100%;
            background: #000000;
            background: -moz-linear-gradient(top, #000000 0%, #121212 20%, #FFFFFF 100%);
            background: -webkit-linear-gradient(top, #000000 0%, #121212 20%, #FFFFFF 100%);
            background: linear-gradient(to bottom, #000000 0%, #121212 20%, #FFFFFF 100%);
            .galeria_video{
                //padding:20px 40px;
                display:flex;
                justify-content: center;
                video{
                    width:99%;
                    height: auto;
                }
            }
            .galeria_video_texto{
                display:flex;
                justify-content: center;
                h5{
                    padding:5px 40px;
                    font-family: jost;
                    color: #f1f0f0;
                    font-size: 13px;
                }
            }
            .contenedor{
                padding:30px 30px;
                width: 100%;
                height: 800px;
                display: grid;
                grid-gap: 15px;
                box-sizing: border-box;
                .img:hover{
                    transform: scale(1.05);
                    transition: all 0.2s;
                }
                .img1{
                    background-image: url(../imagenes/57506266_681281678958174_8623268720635198201_n.jpg);
                    background-size:cover;
                    background-position:center;
                }
                .img2{
                    background-image: url(../imagenes/Carrousel_dj-g2014a0c09_1280.jpg);
                    background-size: cover;
                    background-position:center;
                }
                .img3{
                    background-image: url(../imagenes/Carrousel_dj-gc076fd631_1280.jpg);
                    background-size: cover;
                    background-position:center;
                }
                .img4{
                    background-image: url(../imagenes/Carrousel_nightclub-g4323089a3_1280.jpg);
                    background-size: cover;
                    background-position:center;
                }
                .img5{
                    background-image: url(../imagenes/Carrousel_people-g61f1b25e8_1280.jpg);
                    background-size: cover;
                    background-position:center;
                }
                .img6{
                    background-image: url(../imagenes/Carrousel_concert-g196aeaa3f_1280.jpg);
                    background-size: cover;
                    background-position:center;
                }
                .img7{
                    background-image: url(../imagenes/xale_tocando.jpg);
                    background-size: cover;
                    background-position:center;
                }
                .img8{
                    background-image: url(../imagenes/Carrousel_club-g3abfaf477_1280.jpg);
                    background-size:cover;
                    background-position:center;
                }
            }
        }
        #form{
            .contenedor{
                background: #000000;
                background: -moz-linear-gradient(top, #000000 0%, #121212 20%, #FFFFFF 100%);
                background: -webkit-linear-gradient(top, #000000 0%, #121212 20%, #FFFFFF 100%);
                background: linear-gradient(to bottom, #000000 0%, #121212 20%, #FFFFFF 100%);
                padding: 140px 20px;
                display: flex; 
                //align-items:center; 
                flex-direction: column;
                h4{
                    color:#e6e4e4;
                    border: 2px solid #E0FF00;
                    text-align: center;
                    margin: 0;
                    width: 120px;
                    padding: 10px;
                    border-radius:20px;
                    font-size: 13px;
                }
                h2{
                    color: #e6e4e4;
                    font-size: 27px;
                    padding-top: 20px;
                }
                .contenedor_iframe{
                    background: #EA90FF;
                    background: -moz-linear-gradient(left, #EA90FF 0%, #FFFFFF 50%, #F0FF87 100%);
                    background: -webkit-linear-gradient(left, #EA90FF 0%, #FFFFFF 50%, #F0FF87 100%);
                    background: linear-gradient(to right, #EA90FF 0%, #FFFFFF 50%, #F0FF87 100%);
                    width:100%;
                    height:100%;
                    .loader {
                        position: fixed;
                        left: 0px;
                        top: 0px;
                        width: 100%;
                        height: 100%;
                        z-index: 9999;
                        background: url('../imagenes/loading-25.gif') 50% 50% no-repeat rgb(249,249,249);
                        background-size: 25%;
                        opacity: .8;
                    }
                    iframe{
                        height: 1150px;
                    }
                }
                p{
                    color: #e6e4e4;
                }
            }
        }
        #bio{
            .contenedor{
                background: #000000;
                background: -moz-linear-gradient(top, #000000 0%, #121212 20%, #FFFFFF 100%);
                background: -webkit-linear-gradient(top, #000000 0%, #121212 20%, #FFFFFF 100%);
                background: linear-gradient(to bottom, #000000 0%, #121212 20%, #FFFFFF 100%);
                padding-bottom: 20px;
                padding-top:160px;
                padding-left:20px;
                padding-right: 20px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                h4{
                    color:#e6e4e4;
                    border: 2px solid #E0FF00;
                    text-align: center;
                    margin: 0;
                    width: 120px;
                    padding: 10px;
                    border-radius:20px;
                    font-size: 13px;
                }
                h2{
                    color: #e6e4e4;
                    font-size: 27px;
                    padding-top: 20px;
                }
                p{
                    color: #FFFFFF;
                }
                .texto-bio{
                    //display:inline-flex;
                    .bloque_parrafo_bio{
                        width:auto;
                        float:none;
                        padding-left: 10%;
                        padding-right: 10%;
                        padding-top:20px;
                        padding-bottom: 20px;
                        .botones{
                            a{
                                background: #E0FF00;
                                color: black;
                                padding: 14px 19px;
                                line-height: 50px;
                                font-size: 13px;
                            }
                            a:hover{
                                background: yellow;
                            }
                        }
                        span{
                            color:#121212;
                        }
                    }
                    .contenedor_foto_perfil{
                        width:auto;
                        float: none;
                        padding-left: 10%;
                        padding-right: 10%;
                        padding-top:20px;
                        padding-bottom: 20px;
                        .foto_perfil{
                            width:100%;
                            img{
                                width:100%;
                                height:100%;
                            }
                        }
                        .links_redes{
                            text-align: center;
                            padding:7px 0px;
                            a{
                                padding-top:10px;
                                text-decoration: none;
                                img{
                                    width:1.5vmax !important;
                                    height:1.5vmax !important;
                                    margin: 15px 6px;
                                }
                            }
                        }
                    }
                }
            }
            .contenedor_carousel{
                padding-left: 20%;
                padding-right: 20%;
                padding-bottom: 40px;
                .carousel.slide{
                    .carousel-inner img {
                        width: 100%;
                        height: 100%;
                        }
                }
            }
        }
        #music{
            .contenedor{
                background: #000000;
                background: -moz-linear-gradient(top, #000000 0%, #121212 20%, #FFFFFF 100%);
                background: -webkit-linear-gradient(top, #000000 0%, #121212 20%, #FFFFFF 100%);
                background: linear-gradient(to bottom, #000000 0%, #121212 20%, #FFFFFF 100%);
                padding-top:160px;
                padding-bottom:40px;
                padding-right:3px;
                padding-left:3px;
                h4{
                    color:#e6e4e4;
                    border: 2px solid #E0FF00;
                    text-align: center;
                    margin: 0;
                    width: 120px;
                    padding: 10px;
                    border-radius:20px;
                    font-size: 13px;
                    justify-content: center;
                }
                h2{
                    color: #e6e4e4;
                    font-size: 27px;
                    padding-top: 20px;
                }
                .card-deck{
                    text-align: center !important;
                    align-items: center !important;
                    .card:hover{
                        -webkit-box-shadow: 0px 0px 15px 2px #FFFF;
                        box-shadow: 0px 0px 15px 2px #FFFF;
                    }
                    .card{
                        width:100% !important;
                        margin-top: 30px;
                        .card-header{
                            padding:7px 10px;
                            color:#e6e4e4;
                            text-align: center;
                            font-size: medium;
                            //font-size: 0.9vmax;
                            background: #000000;
                            background: -moz-linear-gradient(left, #000000 0%, #262626 52%, #000000 100%);
                            background: -webkit-linear-gradient(left, #000000 0%, #262626 52%, #000000 100%);
                            background: linear-gradient(to right, #000000 0%, #262626 52%, #000000 100%);
                        }
                        .card-footer{
                            background: #000000;
                            background: -moz-linear-gradient(left, #000000 0%, #262626 52%, #000000 100%);
                            background: -webkit-linear-gradient(left, #000000 0%, #262626 52%, #000000 100%);
                            background: linear-gradient(to right, #000000 0%, #262626 52%, #000000 100%);
                            padding:7px 10px;
                            .redes{
                                text-align: center;
                                a{
                                    text-decoration: none;
                                    img{
                                        filter: grayscale(100%);
                                        margin: 3.2px 3.2px;
                                    }
                                    .footer__img-redes{
                                        width:2vmax !important;
                                        height:2vmax !important;
                                    }
                                }
                                a:hover{
                                    img{
                                        filter:none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        footer{
            text-align: center;
            padding: 20.8px 20.8px;
            background: white;
            h3{
                font-size: 14px;
            }
            p{
                font-size: 14px;
            }
            .contenedor{
                .redes{
                    a{
                        text-decoration: none;
                        img{
                            width: 20px !important;
                            height: 20px !important;
                            margin: 10px 7px;
                        }
                    }
                }
                p{
                    font-family: "jost";
                }
            }
        }
    }
}
@media only screen and (max-width:953px) {
    body{
        header{
            .contenedor{
                .menu{
                    .boton{
                        display: none !important;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width:768px) {
    body{
        a{
            text-decoration:none;
        }
        li{
            list-style: none;
        }
        header{
            height:95vh;
            .contenedor{
                background-attachment: fixed;
                min-height: 500px;
                padding:0% 0%;
                .menu{
                    justify-content:space-between; 
                    padding-top: 20px;
                    flex-direction:row;
                    border-bottom: 1px groove #a8a8a8;
                    .logo-y-menu {
                        flex-direction:row;
                        .menu-icon{
                            display: none;
                        }
                        nav {
                            background:unset;
                            width:unset;
                            position:unset;
                            display: inline-block;
                            flex-direction: row;
                            color:#fff;
                            font-size: 15px;
                            ul{
                                flex-direction: row;
                                color:#fff;
                                font-size: 15px;
                                li{
                                    margin:0 20px;
                                    a{
                                        color:#E0FF00;
                                        font-size: 15px;
                                    }
                                    a:hover{
                                        color:yellow;
                                        text-decoration: underline;
                                    }      
                                }
                            }
                        }
                    }
                    .boton{
                        -webkit-box-shadow: 0px 0px 15px 2px #E0FF00; 
                        box-shadow: 0px 0px 15px 2px #E0FF00;
                        a{
                            padding:20px 40px;
                            font-size: 13px;
                        }
                        margin: 20px 20px;
                        display: flex;
                    }
                    .boton:hover{
                        a{
                            background: yellow;
                        }
                    }
                }
                .titular{
                    align-items: flex-end;
                    padding: 20px 120px;
                    h1{
                        font-size: 50px;
                        width:100%;
                    }
                    .botones{
                        a{
                            padding:20px 40px;
                            line-height: 100px;
                        }
                        .botones:hover{
                                background: yellow;
                        }
                        .scrollDown{
                            margin-top: -100px;
                        }
                    }
                }
            }
        }
        #discografia {
            p{
                font-size: 14px;
                line-height: 27px;
                margin-bottom: 40px;
            }
            .contenedor{
                padding: 20px 120px;
                flex-direction: row;
                justify-content: space-between;
                .texto{
                    width: 50%;
                    h2 {
                        font-size: 40px;
                        margin-bottom: 10px;
                    }
                    h4{
                        border-radius:60px;
                        font-size: 13px;
                        text-align: center;
                        margin-bottom: 10px;
                    }
                    a{
                        padding:20px 40px;
                        line-height: 100px;
                    }
                }
                .card-deck{
                    margin-right: 40px;
                    color:#121212;
                }
            }
        }
        #about {
            .contenedor{
                padding-top: 60px;
                padding-bottom: 60px;
                padding-left: 12%;
                padding-right:12%;
                h4{
                    border-radius:60px;
                    font-size: 13px;
                    text-align: center;
                }
                .contenedor-textos{
                    display: flex;
                    flex-direction: row;
                    h2{
                        padding-top: 20px;
                    }
                    .texto-derecha{
                        margin: 0 10px;
                    }
                    .texto-izquierda{
                        margin: 0 10px;
                    }
                }
            }
        }
        #form{
            .contenedor{
                padding: 140px 140px;
                .contenedor_iframe{
                    iframe{
                        height: 900px;
                    }
                }
            }
            
        }
        #tour {
            .contenedor{
                padding-left: 120px;
                padding-right: 120px;
                padding-top: 20px;
                padding-bottom: 0px;
                flex-direction: row;
                .imagen{
                    width: 30%;
                    top: -80px;
                }
                .texto{
                    width: 55%;
                    h4{
                        font-size: 15px;
                    }
                    h2{
                        padding-top: 20px;
                    }
                }
            }
            .fechas{
                padding: 0px 40px;
                flex-direction: row; 
                .boton{
                    margin-bottom: 5px;
                    a{
                        background: white;
                        color: black;
                        padding: 15px 30px;
                    }
                }
            }
        }
        #music{
            .contenedor{
                padding-left: 100px;
                padding-right: 100px;
                .card-deck{
                    .card{
                        .card-header{
                            font-size: 0.9vmax !important;
                        }
                    }
                }
            }
        }
        #bio{
            .contenedor{
                padding-left: 130px;
                padding-right: 130px;
                .texto-bio{
                    .bloque_parrafo_bio{
                        padding-right: 0px;;
                        width:50%;
                        float: left;
                        padding-left:40px;
                        padding-top:20px;
                        padding-bottom: 20px;
                    }
                    .contenedor_foto_perfil{
                        padding-left: 0px;
                        width:50%;
                        float: left;
                        padding-right:0px;
                        padding-top:20px;
                        padding-bottom: 20px;
                        .foto_perfil{
                            width:100%;
                            img{
                                width:100%;
                                height:100%;
                            }
                        }
                        .links_redes{
                            a{
                                img{
                                    width:2vmax !important;
                                    height:2vmax !important;
                                    margin: 15px 10.5px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .galeria{
            height:1450px;
            .galeria_video{
                video{
                    width: 609px;;
                    height: 343px;
                }
            }
            .contenedor{
                padding: 30px 0px;
                grid-template-columns: repeat(4, 1fr);
                .img1 {
                    grid-column: 1/2;
                    grid-row: 1/3;
                }
                .img2 {
                    grid-column: 2/3;
                    grid-row: 1/2;
                }
                .img3 {
                    grid-column: 3/5;
                    grid-row: 1/2;
                }
                .img4 {
                    grid-column: 1/2;
                    grid-row: 3/4;
                }
                .img5 {
                    grid-column: 2/3;
                    grid-row: 2/4;
                }
                .img6 {
                    grid-column: 3/4;
                    grid-row: 2/3;
                }
                .img7 {
                    grid-column: 4/5;
                    grid-row: 2/3;
                }
                .img8 {
                    grid-column: 3/5;
                    grid-row: 3/4;
                }
            }
        }
    }
}
@media only screen and (min-width:478px) and (max-width:575px) {
    body{
        #music{
            .contenedor{
                padding-left:15% !important;
                padding-right:15% !important;
            }
        }
    }
}
@media only screen and (min-width:480px) and (max-width:767px) {
    body{
        header{
            .contenedor{
                .titular{
                    h1{
                        padding-top: 75px;
                    }
                    .botones{
                        a{
                            padding:20px 40px;
                            line-height: 100px;
                        }
                    }
                }
            }
        }            
        #discografia {
            .contenedor{
                .texto{
                    width: 100%;
                }
            }
        }
        #tour {
            .contenedor{
                .imagen{
                    top: -55px;
                    width: 50%;
                }
                .texto{
                    padding-left:5%;
                    padding-right:5%;
                }
            }
        }
        #bio{
            .contenedor{
                padding-left: 60px;
                padding-right: 60px;
                .texto-bio{
                    .bloque_parrafo_bio{
                        width: auto;
                        float: none;
                        p{
                            color:#121212;
                        }
                    }
                    .contenedor_foto_perfil{
                        width: auto;
                        float: none;
                        .foto_perfil{
                            size: 70%;
                        }
                        .links_redes{
                            a{
                                img{
                                    width:2.5vmax !important;
                                    height:2.5vmax !important;
                                    margin: 15px 10.5px;
                                }
                            }
                        }
                    }
                }
            }
        }
        #form{
            .contenedor{
                .contenedor_iframe{
                    iframe{
                        height: 1000px;;
                    }
                }
            }
        }
        #music{
            .contenedor{
                .card-deck{
                    .card{
                        .card-header{
                            font-size: 0.9vmax !important;
                        }
                    }
                }
            }
        }
        .galeria{
            height:1420px;
            .contenedor{
                padding: 30px 20px;
                grid-template-columns: repeat(3, 1fr);
                .img8 {
                    grid-column: 2/4;
                }
            }
        }
    }
}
@media only screen and (min-width:320px) and (max-width:479px) {
    body{
        header{
            .contenedor{
                .titular{
                    h1{
                        padding-top: 75px;
                    }
                    .botones{
                        a{
                            padding:20px 40px;
                            line-height: 100px;
                        }
                    }
                }
            }
        }            
        #tour {
            padding: 1px 0;
            .contenedor{
                .imagen{
                    top: -40px;
                }
            }
        }
        #bio{
            .contenedor{
                .texto-bio{
                    .bloque_parrafo_bio{
                        width: auto;
                        float: none;
                        p{
                            color:#121212;
                        }
                    }
                    .contenedor_foto_perfil{
                        width: auto;
                        float: none;
                        .foto_perfil{
                            size: 70%;
                        }
                        .links_redes{
                            a{
                                img{
                                    width:2.5vmax !important;
                                    height:2.5vmax !important;
                                }
                            }
                        }
                    }
                }
            }
        }
        #form{
            .contenedor{
                padding: 140px 20px;
                .contenedor_iframe{
                    iframe{
                        height: 1050px;;
                    }
                }
            }
        }
        #music{
            .contenedor{
                padding-left:15%;
                padding-right:15%;
                .card-deck{
                    .card{
                        width:100% !important;
                        .card-header{
                            font-size:medium;
                        }
                        .card-footer{
                            .redes{
                                img{
                                    margin: 5px 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .galeria{
            .contenedor{
                padding: 30px 20px;
                grid-template-columns: repeat(2, 1fr);
                .img1 {
                    grid-column: 1/3;
                    grid-row: 1/2;
                }
                .img2 {
                    grid-column: 2/3;
                    grid-row: 2/4;
                }
                .img5 {
                    grid-column: 1/3;
                    grid-row: 4/5;
                }
                .img8 {
                    grid-column: 1/3;
                }
            }
        }
    }
}

@-webkit-keyframes AnimationGradient {
    0%{background-position:0% 0%}
    50%{background-position:93% 100%}
    100%{background-position:0% 0%}
}
@-moz-keyframes AnimationGradient {
    0%{background-position:0% 0%}
    50%{background-position:93% 100%}
    100%{background-position:0% 0%}
}
@keyframes AnimationGradient {
    0%{background-position:0% 0%}
    50%{background-position:93% 100%}
    100%{background-position:0% 0%}
}

#header.header-scrolled {
    background: #000000;
    padding: 20px 0;
    height: 72px;
    transition: all 0.5s;
}
#header {
    padding: 30px 0;
    height: 92px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
    background-color:#121212;
    box-shadow: 5px 0px 15px #c3c3c3;
}
#header #logo h1 {
    background-image: url(../imagenes/logo.png);
    background-size:contain;
    background-repeat: no-repeat;
    font-size: 34px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 3px;

}
#header #logo h1 a, #header #logo h1 a:hover {
    color: #000;
    padding-left: 10px;
    border-left: 4px solid yellow;
}
#nav-menu-container {
    float: right;
    margin: 0;
}
.nav-menu > li {
    margin-left: 10px;
}
.nav-menu > li {
    float: left;
}
.nav-menu li {
    position: relative;
    white-space: nowrap;
}
.nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}
.header-scrolled .nav-menu li:hover > a, .header-scrolled .nav-menu > .menu-active > a {
    color: yellow;
}
.header-scrolled .nav-menu a {
    color:#E0FF00
}
.nav-menu li:hover > a, .nav-menu > .menu-active > a {
    color:#E0FF00;
    text-decoration: underline;
}
.nav-menu a {
    padding: 0 8px 10px 8px;
    text-decoration: none;
    display: inline-block;
    color: white;
    font-weight: 700;
    font-size: 13px;
    outline: none;
}
#mobile-nav-toggle {
    display: inline;
}
#mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 20px 20px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
}
#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}
body.mobile-nav-active #mobile-nav {
    left: 0;
}
#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(0, 0, 0, 0.8);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;
}
#mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#mobile-nav ul li {
    position: relative;
}
#mobile-nav ul li a {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
    font-weight: 700;
}
#mobile-nav ul .menu-has-children i.fa-chevron-up {
    color:#E0FF00;
}
#mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff;
}
#mobile-nav ul .menu-item-active {
    color:#E0FF00;
}
#mobile-nav ul li li {
    padding-left: 30px;
}

.menu-has-children ul
{display: none;}

.sf-arrows .sf-with-ul {
    padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    color:black;
}

.sf-arrows ul .sf-with-ul:after {
    content: "\f105";
}


.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
    display: block;
}
.nav-menu ul {
    margin: 4px 0 0 0;
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: #fff;
}
.nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
}

.sf-arrows .sf-with-ul {
    padding-right: 30px;
}
.nav-menu li {
    position: relative;
    white-space: nowrap;
}


@media (max-width: 768px){
#nav-menu-container {
    display: none;
}

#mobile-nav-toggle {
    display: inline;
}
}

