* {
  margin: 0;
  padding: 0;
}

* body {
  margin: 0;
  padding: 0;
  font-family: "krona one";
}

* body p {
  font-family: "jost";
}

* body .header2 {
  position: relative;
  height: 200px;
  background-color: #000;
}

* body header .boton a {
  background: #E0FF00;
  color: black;
  padding: 14px 19px;
  line-height: 50px;
  font-size: 10px;
}

* body header .botones a {
  background: #E0FF00;
  color: black;
  padding: 14px 19px;
  line-height: 50px;
  font-size: 13px;
}

* body header .contenedor {
  background-image: url(../imagenes/encabezado.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: auto;
}

* body header .contenedor .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body header .contenedor .menu .logo-y-menu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body header .contenedor .menu .logo-y-menu a {
  text-decoration: none;
}

* body header .contenedor .menu .logo-y-menu nav {
  background: #E0FF00;
  width: 100%;
  position: absolute;
  top: 130px;
  display: none;
  left: 0;
  color: black;
  font-size: 12px;
  margin: bottom 10px;
}

* body header .contenedor .menu .logo-y-menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body header .contenedor .menu .logo-y-menu nav ul li {
  margin-bottom: 10px;
  margin-top: 10px;
}

* body header .contenedor .menu .logo-y-menu nav ul li li {
  list-style: none;
}

* body header .contenedor .menu .logo-y-menu nav ul li a:hover {
  color: white;
}

* body header .contenedor .menu .boton {
  margin-top: 220px;
  display: none;
}

* body header .contenedor .menu .boton a {
  background: #E0FF00;
  color: black;
  padding: 14px 19px;
  line-height: 50px;
  font-size: 13px;
}

* body header .contenedor .menu .boton .boton:hover {
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

* body header .contenedor .titular {
  margin-top: 19vh;
  color: #fff;
}

* body header .contenedor .titular h1 {
  font-size: 32px;
  padding-top: 20px;
}

* body header .contenedor .titular h1 span {
  color: transparent !important;
  background-image: linear-gradient(322deg, #e0ff00, #ffffff);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-animation: AnimationGradient 3s ease infinite;
  animation: AnimationGradient 3s ease infinite;
}

* body header .contenedor .titular H1:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

* body header .contenedor .titular .botones a {
  background: #E0FF00;
  color: black;
  padding: 14px 19px;
  line-height: 50px;
  font-size: 13px;
}

* body header .contenedor .titular .botones .blanco {
  background: #fff !important;
}

* body header .contenedor .titular .botones .blanco:hover {
  background: #e6e4e4 !important;
}

* body header .contenedor .titular .botones .scrollDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* body header .contenedor .titular .botones .scrollDown img {
  margin-top: 0px;
}

* body header .contenedor .titular .botones .scrollDown img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

* body header .contenedor_pages {
  background: #000;
  margin: auto;
}

* body header .contenedor_pages .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body header .contenedor_pages .menu .logo-y-menu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body header .contenedor_pages .menu .logo-y-menu a {
  text-decoration: none;
}

* body header .contenedor_pages .menu .logo-y-menu nav {
  background: #E0FF00;
  width: 100%;
  position: absolute;
  top: 130px;
  display: none;
  left: 0;
  color: black;
  font-size: 12px;
  margin: bottom 10px;
}

* body header .contenedor_pages .menu .logo-y-menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body header .contenedor_pages .menu .logo-y-menu nav ul li {
  margin-bottom: 10px;
  margin-top: 10px;
}

* body header .contenedor_pages .menu .logo-y-menu nav ul li li {
  list-style: none;
}

* body header .contenedor_pages .menu .logo-y-menu nav ul li a:hover {
  color: white;
}

* body header .contenedor_pages .menu .boton {
  margin-top: 220px;
  display: none;
}

* body header .contenedor_pages .menu .boton a {
  background: #E0FF00;
  color: black;
  padding: 14px 19px;
  line-height: 50px;
  font-size: 13px;
}

* body header .contenedor_pages .menu .boton .boton:hover {
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

* body #discografia {
  background: #000;
  color: #fff;
}

* body #discografia .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body #discografia .contenedor .texto {
  padding-right: 20px;
}

* body #discografia .contenedor .texto h2 {
  font-size: 27px;
}

* body #discografia .contenedor .texto h2 span {
  text-decoration: underline;
  color: transparent !important;
  background-image: linear-gradient(322deg, #e0ff00, #ffffff);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-animation: AnimationGradient 3s ease infinite;
  animation: AnimationGradient 3s ease infinite;
}

* body #discografia .contenedor .texto h4 {
  margin: 0;
  color: #E0FF00;
  border: 2px solid #121212;
  width: 120px;
  padding: 10px;
  border-radius: 20px;
}

* body #discografia .contenedor .texto a {
  background: #E0FF00;
  color: black;
  padding: 14px 19px;
  line-height: 50px;
  font-size: 13px;
}

* body #discografia .contenedor .foto {
  padding-left: 20px;
}

* body #about .contenedor {
  padding: 100px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body #about .contenedor h4 {
  color: #000;
  border: 2px solid #E0FF00;
  text-align: center;
  margin: 0;
  width: 120px;
  padding: 10px;
  border-radius: 20px;
}

* body #about .contenedor .contenedor-textos .texto-izquierda h2 {
  font-size: 27px;
}

* body #about .contenedor .contenedor-textos .texto-derecha h2 {
  font-size: 27px;
}

* body #about .contenedor .contenedor-textos .texto-derecha .botones a {
  background: #E0FF00;
  color: black;
  padding: 14px 19px;
  line-height: 50px;
  font-size: 13px;
}

* body #about .contenedor .contenedor-textos .texto-derecha .botones a:hover {
  background: yellow;
}

* body #about .contenedor .contenedor-textos .texto-derecha .botones .negro {
  background: #262626;
  color: #A8A8A8;
}

* body #about .contenedor .contenedor-textos .texto-derecha .botones .negro:hover {
  background: #121212;
}

* body #tour {
  background: #E0FF00;
  padding: 1px 0px;
}

* body #tour .contenedor {
  padding: 60px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body #tour .contenedor .imagen {
  width: 65%;
  position: relative;
  top: -27px;
}

* body #tour .contenedor .imagen img {
  width: 100%;
}

* body #tour .contenedor .imagen img:hover {
  width: 100%;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}

* body #tour .contenedor .texto {
  width: 100%;
}

* body #tour .contenedor .texto h4 {
  color: #000;
  border: 2px solid #121212;
  text-align: center;
  margin: 0;
  width: 120px;
  padding: 10px;
  border-radius: 20px;
}

* body #tour .contenedor .texto h2 {
  font-size: 27px;
}

* body #tour .fechas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 85%;
  margin: auto;
  margin-bottom: 60px;
  border-bottom: 1px solid #A8A8A8;
}

* body #tour .fechas .numero {
  margin-bottom: 10px;
  font-size: 34px;
}

* body #tour .fechas .fecha {
  margin-bottom: 10px;
}

* body #tour .fechas .lugar {
  margin-bottom: 10px;
}

* body #tour .fechas .lugar h5 {
  margin: 0;
  font-size: 20px;
}

* body #tour .fechas .lugar p {
  margin: 0;
}

* body #tour .fechas .boton {
  margin-bottom: 10px;
}

* body #tour .fechas .boton a {
  background: white;
  color: black;
  padding: 15px 30px;
  font-size: 13px;
}

* body #tour .fechas .boton a:hover {
  background: #f1f0f0;
}

* body .galeria {
  height: 800px;
  width: 100%;
}

* body .galeria .contenedor {
  background: #000000;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(20%, #121212), to(#FFFFFF));
  background: linear-gradient(to bottom, #000000 0%, #121212 20%, #FFFFFF 100%);
  padding: 20px 40px;
  width: 100%;
  height: 800px;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body .galeria .contenedor .img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

* body .galeria .contenedor .img1 {
  background-image: url(../imagenes/57506266_681281678958174_8623268720635198201_n.jpg);
  background-size: cover;
  background-position: center;
}

* body .galeria .contenedor .img2 {
  background-image: url(../imagenes/138960207_807621563300711_2091813697995530178_n.jpg);
  background-size: cover;
  background-position: center;
}

* body .galeria .contenedor .img3 {
  background-image: url(../imagenes/57593738_411382389438578_567392472254431326_n.jpg);
  background-size: cover;
  background-position: bottom;
}

* body .galeria .contenedor .img4 {
  background-image: url(../imagenes/152397828_3713372548750134_1409808329901898728_n.jpg);
  background-size: cover;
  background-position: top;
}

* body .galeria .contenedor .img5 {
  background-image: url(../imagenes/xtour.jpg);
  background-size: cover;
  background-position: center;
}

* body .galeria .contenedor .img6 {
  background-image: url(../imagenes/217175313_553997372402212_528623457652565791_n.jpg);
  background-size: cover;
  background-position: top;
}

* body .galeria .contenedor .img7 {
  background-image: url(../imagenes/126385827_114867680440685_6589484813927382590_n.jpg);
  background-size: cover;
  background-position: top;
}

* body .galeria .contenedor .img8 {
  background-image: url(../imagenes/xale_tocando.jpg);
  background-size: cover;
  background-position: center;
}

* body #form .contenedor {
  background: #000000;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(20%, #121212), to(#FFFFFF));
  background: linear-gradient(to bottom, #000000 0%, #121212 20%, #FFFFFF 100%);
  padding: 20px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body #form .contenedor h2 {
  margin: 20px 10px;
  color: #e6e4e4;
  font-size: 27px;
  padding-top: 20px;
}

* body #form .contenedor p {
  color: #e6e4e4;
}

* body #bio .contenedor {
  background: #000000;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(20%, #121212), to(#FFFFFF));
  background: linear-gradient(to bottom, #000000 0%, #121212 20%, #FFFFFF 100%);
  padding: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body #bio .contenedor h4 {
  color: #e6e4e4;
  border: 2px solid #E0FF00;
  text-align: center;
  margin: 0;
  width: 120px;
  padding: 10px;
  border-radius: 20px;
  font-size: 13px;
}

* body #bio .contenedor h2 {
  color: #e6e4e4;
  font-size: 27px;
  padding-top: 20px;
}

* body #bio .contenedor p {
  color: #e6e4e4;
}

* body #bio .contenedor .texto-bio {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

* body #bio .contenedor .texto-bio .bloque_parrafo_bio {
  width: 50%;
  float: left;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

* body #bio .contenedor .texto-bio .bloque_parrafo_bio .botones a {
  background: #E0FF00;
  color: black;
  padding: 14px 19px;
  line-height: 50px;
  font-size: 13px;
}

* body #bio .contenedor .texto-bio .bloque_parrafo_bio .botones a:hover {
  background: yellow;
}

* body #bio .contenedor .texto-bio .contenedor_foto_perfil {
  width: 50%;
  float: left;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

* body #bio .contenedor .texto-bio .contenedor_foto_perfil .foto_perfil {
  width: 100%;
}

* body #bio .contenedor .texto-bio .contenedor_foto_perfil .foto_perfil img {
  width: 100%;
  height: 100%;
}

* body #bio .contenedor .texto-bio .contenedor_foto_perfil .links_redes {
  text-align: center;
  padding-top: 20px;
}

* body #bio .contenedor .texto-bio .contenedor_foto_perfil .links_redes a {
  padding-top: 10px;
  text-decoration: none;
}

* body #bio .contenedor .texto-bio .contenedor_foto_perfil .links_redes a img {
  width: 30px !important;
  height: 30px !important;
  margin: 0px 10px;
}

* body #bio .contenedor .carousel-inner img {
  width: 100%;
  height: 100%;
}

* body #music .contenedor {
  padding: 20px 20px;
}

* body footer {
  text-align: center;
  padding: 20.8px 20.8px;
  background: white;
}

* body footer h3 {
  font-size: 14px;
}

* body footer p {
  font-size: 14px;
}

* body footer .contenedor .redes a {
  text-decoration: none;
}

* body footer .contenedor .redes a img {
  width: 20px !important;
  height: 20px !important;
  margin: 10px 10px;
}

* body footer .contenedor p {
  font-family: "jost";
}

@media only screen and (min-width: 768px) {
  body a {
    text-decoration: none;
  }
  body li {
    list-style: none;
  }
  body header {
    height: 95vh;
  }
  body header .contenedor {
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }
  body header .contenedor .menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-bottom: 1px groove #a8a8a8;
  }
  body header .contenedor .menu .logo-y-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body header .contenedor .menu .logo-y-menu .menu-icon {
    display: none;
  }
  body header .contenedor .menu .logo-y-menu nav {
    background: unset;
    width: unset;
    position: unset;
    display: inline-block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    color: #fff;
    font-size: 15px;
  }
  body header .contenedor .menu .logo-y-menu nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    color: #fff;
    font-size: 15px;
  }
  body header .contenedor .menu .logo-y-menu nav ul li {
    margin: 0 20px;
  }
  body header .contenedor .menu .logo-y-menu nav ul li a {
    color: #E0FF00;
    font-size: 15px;
  }
  body header .contenedor .menu .logo-y-menu nav ul li a:hover {
    color: yellow;
    text-decoration: underline;
  }
  body header .contenedor .menu .boton {
    -webkit-box-shadow: 0px 0px 15px 2px #E0FF00;
    box-shadow: 0px 0px 15px 2px #E0FF00;
    margin: 20px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body header .contenedor .menu .boton a {
    padding: 20px 40px;
    font-size: 13px;
  }
  body header .contenedor .menu .boton:hover a {
    background: yellow;
  }
  body header .contenedor .titular {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 20px 240px;
  }
  body header .contenedor .titular h1 {
    font-size: 50px;
    width: 100%;
  }
  body header .contenedor .titular .botones a {
    padding: 20px 40px;
    line-height: 100px;
  }
  body header .contenedor .titular .botones .botones:hover {
    background: yellow;
  }
  body header .contenedor .titular .botones .scrollDown {
    margin-top: -100px;
  }
  body .header_pages {
    height: unset;
  }
  body .header_pages .contenedor {
    background: black;
    min-height: unset;
  }
  body .header_pages .contenedor .menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-bottom: 1px groove #a8a8a8;
  }
  body .header_pages .contenedor .menu .logo-y-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body .header_pages .contenedor .menu .logo-y-menu .menu-icon {
    display: none;
  }
  body .header_pages .contenedor .menu .logo-y-menu nav {
    background: unset;
    width: unset;
    position: unset;
    display: inline-block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    color: #fff;
    font-size: 15px;
  }
  body .header_pages .contenedor .menu .logo-y-menu nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    color: #fff;
    font-size: 15px;
  }
  body .header_pages .contenedor .menu .logo-y-menu nav ul li {
    margin: 0 20px;
  }
  body .header_pages .contenedor .menu .logo-y-menu nav ul li a {
    color: #E0FF00;
    font-size: 15px;
  }
  body .header_pages .contenedor .menu .logo-y-menu nav ul li a:hover {
    color: yellow;
    text-decoration: underline;
  }
  body .header_pages .contenedor .boton {
    -webkit-box-shadow: 0px 0px 15px 2px #E0FF00;
    box-shadow: 0px 0px 15px 2px #E0FF00;
    margin: 20px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .header_pages .contenedor .boton a {
    padding: 20px 40px;
    font-size: 13px;
  }
  body .header_pages .contenedor .boton:hover a {
    background: yellow;
  }
  body #discografia p {
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 40px;
  }
  body #discografia img {
    width: 100%;
    padding: 20px 20px;
  }
  body #discografia .contenedor {
    padding: 80px 240px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body #discografia .contenedor .texto {
    width: 50%;
  }
  body #discografia .contenedor .texto h2 {
    font-size: 50px;
    margin-bottom: 10px;
  }
  body #discografia .contenedor .texto h4 {
    border-radius: 60px;
    font-size: 13px;
    text-align: center;
    margin-bottom: 10px;
  }
  body #discografia .contenedor .texto a {
    padding: 20px 40px;
    line-height: 100px;
  }
  body #discografia .contenedor .texto a:hover {
    background-color: yellow;
  }
  body #about .contenedor {
    padding: 80px 240px;
  }
  body #about .contenedor h4 {
    border-radius: 60px;
    font-size: 13px;
    text-align: center;
  }
  body #about .contenedor .contenedor-textos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body #about .contenedor .contenedor-textos h2 {
    padding-top: 20px;
  }
  body #about .contenedor .contenedor-textos .texto-derecha {
    margin: 0 10px;
  }
  body #about .contenedor .contenedor-textos .texto-izquierda {
    margin: 0 10px;
  }
  body #form .contenedor {
    padding: 20px 240px;
  }
  body #tour .contenedor {
    padding-left: 240px;
    padding-right: 240px;
    padding-top: 80px;
    padding-bottom: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body #tour .contenedor .imagen {
    width: 30%;
    top: -130px;
  }
  body #tour .contenedor .texto {
    width: 55%;
  }
  body #tour .contenedor .texto h4 {
    font-size: 15px;
  }
  body #tour .contenedor .texto h2 {
    padding-top: 20px;
  }
  body #tour .fechas {
    padding: 0px 240px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body #tour .fechas .boton {
    margin-bottom: 5px;
  }
  body #tour .fechas .boton a {
    background: white;
    color: black;
    padding: 15px 30px;
  }
  body #music .contenedor {
    padding: 20px 240px;
  }
  body #bio .contenedor {
    padding: 60px 240px;
  }
  body #bio .contenedor .carousel-inner {
    padding-top: 40px;
  }
  body .galeria .contenedor {
    padding: 60px 140px;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  body .galeria .contenedor .img1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  body .galeria .contenedor .img2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  body .galeria .contenedor .img3 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  body .galeria .contenedor .img4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  body .galeria .contenedor .img5 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
  }
  body .galeria .contenedor .img6 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  body .galeria .contenedor .img7 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  body .galeria .contenedor .img8 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  body a {
    text-decoration: none;
  }
  body li {
    list-style: none;
  }
  body h2 {
    font-size: 27px !important;
  }
  body header .boton a {
    background: #E0FF00;
    color: black;
    padding: 14px 19px;
    line-height: 50px;
    font-size: 13px;
  }
  body header .botones a {
    background: #E0FF00;
    color: black;
    padding: 14px 19px;
    line-height: 50px;
    font-size: 13px;
  }
  body header .contenedor .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body header .contenedor .menu .logo-y-menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body header .contenedor .menu .logo-y-menu .menu-icon {
    display: none;
  }
  body header .contenedor .menu .logo-y-menu nav {
    background: #E0FF00;
    width: 100%;
    position: absolute;
    top: 130px;
    display: none;
    left: 0;
  }
  body header .contenedor .menu .logo-y-menu nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body header .contenedor .menu .logo-y-menu nav ul li {
    margin-bottom: 10px;
  }
  body header .contenedor .menu .logo-y-menu nav ul li a {
    color: black;
    margin: bottom 10px;
  }
  body header .contenedor .menu .logo-y-menu nav ul li a:hover {
    color: white;
  }
  body header .contenedor .menu .boton {
    margin-top: 220px;
    display: none;
  }
  body header .contenedor .titular {
    margin-top: 19vh;
  }
  body header .contenedor .titular h1 {
    font-size: 32px;
    padding-top: 20px;
  }
  body header .contenedor .titular .botones a {
    padding: 20px 40px;
    line-height: 100px;
  }
  body header .contenedor .titular .botones .scrollDown img {
    margin-top: 0px;
  }
  body #discografia a {
    background: #E0FF00;
    color: black;
    padding: 14px 19px;
    line-height: 50px;
    font-size: 13px;
  }
  body #discografia .contenedor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body #discografia .contenedor .foto {
    width: 82%;
    margin-top: 20px;
  }
  body #discografia .contenedor .texto {
    width: 100%;
  }
  body #about .contenedor .contenedor-textos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body #tour {
    padding: 60px 0;
  }
  body #tour .contenedor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body #tour .contenedor .imagen {
    width: 65%;
    position: relative;
    top: -27px;
  }
  body #tour .contenedor .texto {
    width: 100%;
  }
  body #tour .fechas {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body #tour .fechas div {
    margin-bottom: 10px;
  }
  body #tour .fechas .boton {
    margin-bottom: 10px;
  }
  body #tour .fechas .boton a {
    background: white;
    color: black;
    padding: 15px 30px;
  }
  body .galeria .contenedor {
    padding: 20px 20px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  body .galeria .contenedor .img8 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  body a {
    text-decoration: none;
  }
  body li {
    list-style: none;
  }
  body h2 {
    font-size: 27px !important;
  }
  body header .boton a {
    display: none;
  }
  body header .botones a {
    background: #E0FF00;
    color: black;
    padding: 14px 19px;
    line-height: 50px;
    font-size: 13px;
  }
  body header .contenedor .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body header .contenedor .menu .logo-y-menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body header .contenedor .menu .logo-y-menu .menu-icon {
    display: none;
  }
  body header .contenedor .menu .logo-y-menu nav {
    background: #E0FF00;
    width: 100%;
    position: absolute;
    top: 130px;
    display: none;
    left: 0;
  }
  body header .contenedor .menu .logo-y-menu nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body header .contenedor .menu .logo-y-menu nav ul li {
    margin-bottom: 10px;
  }
  body header .contenedor .menu .logo-y-menu nav ul li a {
    color: black;
    margin: bottom 10px;
  }
  body header .contenedor .menu .logo-y-menu nav ul li a:hover {
    color: white;
  }
  body header .contenedor .menu .boton {
    margin-top: 220px;
    display: none;
  }
  body header .contenedor .titular {
    margin-top: 19vh;
  }
  body header .contenedor .titular h1 {
    font-size: 32px;
    padding-top: 20px;
  }
  body header .contenedor .titular .botones a {
    padding: 20px 40px;
    line-height: 100px;
  }
  body header .contenedor .titular .botones .scrollDown img {
    margin-top: 0px;
  }
  body #discografia a {
    background: #E0FF00;
    color: black;
    padding: 14px 19px;
    line-height: 50px;
    font-size: 13px;
  }
  body #discografia .contenedor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body #discografia .contenedor .foto {
    width: 82%;
    margin-top: 20px;
  }
  body #discografia .contenedor .texto {
    width: 100%;
  }
  body #about .contenedor .contenedor-textos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body #tour {
    padding: 60px 0;
  }
  body #tour .contenedor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body #tour .contenedor .imagen {
    width: 65%;
    position: relative;
    top: -27px;
  }
  body #tour .contenedor .texto {
    width: 100%;
  }
  body #tour .fechas {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body #tour .fechas div {
    margin-bottom: 10px;
  }
  body #tour .fechas .boton {
    margin-bottom: 10px;
  }
  body #tour .fechas .boton a {
    background: white;
    color: black;
    padding: 15px 30px;
  }
  body .galeria .contenedor {
    padding: 20px 20px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  body .galeria .contenedor .img1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  body .galeria .contenedor .img2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
  }
  body .galeria .contenedor .img5 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  body .galeria .contenedor .img8 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

@-webkit-keyframes AnimationGradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 93% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes AnimationGradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 93% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
/*# sourceMappingURL=estilos.css.map */