#header.header-scrolled {
  background: #000000;
  padding: 20px 0;
  height: 72px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#header {
  padding: 30px 0;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 997;
  background-color: #121212;
  -webkit-box-shadow: 5px 0px 15px #c3c3c3;
          box-shadow: 5px 0px 15px #c3c3c3;
}

#header #logo h1 {
  background-image: url(../imagenes/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 34px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 3px;
}

#header #logo h1 a, #header #logo h1 a:hover {
  color: #000;
  padding-left: 10px;
  border-left: 4px solid yellow;
}

#nav-menu-container {
  float: right;
  margin: 0;
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu > li {
  float: left;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-scrolled .nav-menu li:hover > a, .header-scrolled .nav-menu > .menu-active > a {
  color: yellow;
}

.header-scrolled .nav-menu a {
  color: #E0FF00;
}

.nav-menu li:hover > a, .nav-menu > .menu-active > a {
  color: #E0FF00;
  text-decoration: underline;
}

.nav-menu a {
  padding: 0 8px 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: white;
  font-weight: 700;
  font-size: 13px;
  outline: none;
}

#mobile-nav-toggle {
  display: inline;
}

#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.8);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight: 700;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #E0FF00;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-item-active {
  color: #E0FF00;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

.menu-has-children ul {
  display: none;
}

.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  color: black;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
          box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
  #mobile-nav-toggle {
    display: inline;
  }
}
/*# sourceMappingURL=estilos_header_dinamico.css.map */