* {
    margin: 0;
    padding: 0;
    body{
        margin:0;
        padding:0;
        font-family: "krona one";
        p{
            font-family: "jost";
        }
        .header2 {
            position:relative;
            height:200px;
            background-color: #000;
        }
        header{
            .boton{
                a{
                    background: #E0FF00;
                    color: black;
                    padding: 14px 19px;
                    line-height: 50px;
                    font-size: 10px;
                }
            }
            .botones{
                a{
                    background: #E0FF00;
                    color: black;
                    padding: 14px 19px;
                    line-height: 50px;
                    font-size: 13px;
                }
            }
            .contenedor{
                background-image:url(../imagenes/encabezado.jpg);
                //filter: blur(5px);
                //-webkit-filter:blur(5px);
                background-size: cover;
                //height:80vh;
                width:100%;
                height: 100%;
                //max-width:1280px;
                margin:auto;
                .menu{
                    display: flex;
                    flex-direction: column; 
                    .logo-y-menu {
                        justify-content: space-between;
                        display:flex; 
                        align-items:center;
                        flex-direction: column;
                        a{
                            text-decoration:none;
                        }
                        nav {
                            background:#E0FF00;
                            width: 100%;
                            position: absolute;
                            top: 130px;
                            display: none;
                            left: 0;
                            color: black;
                            font-size: 12px;
                            margin: bottom 10px;
                            ul{
                                display:flex;
                                flex-direction: column;
                                li{
                                    margin-bottom: 10px;
                                    margin-top: 10px;
                                    li{
                                        list-style:none;
                                    }                            
                                    a:hover {
                                        color: white;
                                    }
                                }
                            }
                        }
                    }
                    .boton{
                        a{
                            background: #E0FF00;
                            color: black;
                            padding: 14px 19px;
                            line-height: 50px;
                            font-size: 13px;
                        }
                        margin-top: 220px;
                        display: none;
                        .boton:hover {
                            transition: all 1.2s;
                            filter:grayscale(1);
                        }
                    }
                }
                .titular{
                    margin-top: 19vh;
                    color:#fff;
                    h1{
                        font-size: 32px;
                        padding-top: 20px;
                        span{
                            color: transparent !important;
                            background-image: linear-gradient(322deg, #e0ff00, #ffffff);
                            background-size: 400% 400%;
                            -webkit-background-clip: text;
                            background-clip: text;
                            -webkit-animation: AnimationGradient 3s ease infinite;
                            -moz-animation: AnimationGradient 3s ease infinite;
                            animation: AnimationGradient 3s ease infinite;
                        }
                    }
                    H1:hover{
                        transform: scale(1.01);
                        transition: all 0.5s;
                    }
                    .botones{
                        a{
                            background: #E0FF00;
                            color: black;
                            padding: 14px 19px;
                            line-height: 50px;
                            font-size: 13px;
                        }
                        .blanco {
                            background: #fff !important;
                        }
                        .blanco:hover{
                            background:#e6e4e4 !important;
                        }
                        .scrollDown{
                            display:flex;
                            height: 100%;
                            justify-content: center;
                            img{
                                margin-top: 0px;
                            }
                            img:hover{
                                transform: scale(1.10);
                                transition: all 0.5s;
                            }
                        }
                    }
                }
            }
            .contenedor_pages{
                background:#000;
                margin:auto;
                .menu{
                    display: flex;
                    flex-direction: column; 
                    .logo-y-menu {
                        justify-content: space-between;
                        display:flex; 
                        align-items:center;
                        flex-direction: column;
                        a{
                            text-decoration:none;
                        }
                        nav {
                            background:#E0FF00;
                            width: 100%;
                            position: absolute;
                            top: 130px;
                            display: none;
                            left: 0;
                            color: black;
                            font-size: 12px;
                            margin: bottom 10px;
                            ul{
                                display:flex;
                                flex-direction: column;
                                li{
                                    margin-bottom: 10px;
                                    margin-top: 10px;
                                    li{
                                        list-style:none;
                                    }                            
                                    a:hover {
                                        color: white;
                                    }
                                }
                            }
                        }
                    }
                    .boton{
                        a{
                            background: #E0FF00;
                            color: black;
                            padding: 14px 19px;
                            line-height: 50px;
                            font-size: 13px;
                        }
                        margin-top: 220px;
                        display: none;
                        .boton:hover {
                            transition: all 1.2s;
                            filter:grayscale(1);
                        }
                    }
                }
            }
        }            
        #discografia {
            background: #000;
            color:#fff;
            //padding: 120px 0;
            .contenedor{
                display: flex; 
                align-items:center; 
                flex-direction: column; 
                .texto{
                    padding-right: 20px;
                    h2 {
                        font-size: 27px;
                        span{
                            text-decoration: underline;
                            color: transparent !important;
                            background-image: linear-gradient(322deg, #e0ff00, #ffffff);
                            background-size: 400% 400%;
                            -webkit-background-clip: text;
                            background-clip: text;
                            -webkit-animation: AnimationGradient 3s ease infinite;
                            -moz-animation: AnimationGradient 3s ease infinite;
                            animation: AnimationGradient 3s ease infinite;
                        }
                    }
                    h4{
                        margin: 0;
                        color: #E0FF00;
                        border: 2px solid #121212;
                        width: 120px;
                        padding: 10px;
                        border-radius:20px;
                    }
                    a{
                        background: #E0FF00;
                        color: black;
                        padding: 14px 19px;
                        line-height: 50px;
                        font-size: 13px;
                    }
                }
                .foto{
                    padding-left: 20px;
                }
            }
        }
        #about {
            .contenedor{
                padding: 100px 20px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                h4{
                    color: #000;
                    border: 2px solid #E0FF00;
                    text-align: center;
                    margin: 0;
                    width: 120px;
                    padding: 10px;
                    border-radius:20px;
                }
                .contenedor-textos{
                    .texto-izquierda{
                        h2{
                            font-size: 27px;
                        }
                    }
                    .texto-derecha{
                        h2{
                            font-size: 27px;
                        }
                        .botones{
                            a{
                                background: #E0FF00;
                                color: black;
                                padding: 14px 19px;
                                line-height: 50px;
                                font-size: 13px;
                            }
                            a:hover{
                                background: yellow;
                            }
                            .negro{
                                background: #262626;
                                color:#A8A8A8;
                            }
                            .negro:hover{
                                background: #121212;
                            }
                        }
                    }
                }
            }
        }
        #tour {
            background: #E0FF00;
            padding: 1px 0px;
            .contenedor{
                padding: 60px 20px;
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                .imagen{
                    width: 65%;
                    position: relative;
                    top: -27px;
                    img{
                        width: 100%;
                    }
                    img:hover {
                        width: 100%;
                        transform: scale(1.05);
                        transition: all 1.2s;
                    }
                }
                .texto{
                    width: 100%;
                    h4{
                        color: #000;
                        border: 2px solid #121212;
                        text-align: center;
                        margin: 0;
                        width: 120px;
                        padding: 10px;
                        border-radius:20px;
                    }
                    h2{
                        font-size: 27px;
                    }
                }
            }
            .fechas{
                display: flex; 
                flex-direction: column; 
                justify-content: space-around; 
                width: 85%;
                margin: auto;
                //padding-bottom: 30px;
                margin-bottom: 60px;
                border-bottom: 1px solid #A8A8A8;
                .numero{
                    margin-bottom: 10px;
                    font-size: 34px;
                }
                .fecha{
                    margin-bottom: 10px;
                }
                .lugar{
                    margin-bottom: 10px;
                    h5{
                        margin:0;
                        font-size: 20px;
                    }
                    p{
                        margin:0;
                    }
                }
                .boton{
                    margin-bottom: 10px;
                    a{
                        background: white;
                        color: black;
                        padding: 15px 30px;
                        font-size: 13px;
                    }
                    a:hover{
                        background:#f1f0f0;
                    }
                }
            }
        }
        .galeria{
            height:800px;
            width:100%;
            .contenedor{
                background: #000000;
                background: -moz-linear-gradient(top, #000000 0%, #121212 20%, #FFFFFF 100%);
                background: -webkit-linear-gradient(top, #000000 0%, #121212 20%, #FFFFFF 100%);
                background: linear-gradient(to bottom, #000000 0%, #121212 20%, #FFFFFF 100%);
                padding:20px 40px;
                width: 100%;
                height: 800px;
                display: grid;
                grid-gap: 20px;
                box-sizing: border-box;
                .img:hover{
                    transform: scale(1.05);
                    transition: all 0.2s;
                }
                .img1{
                    background-image: url(../imagenes/57506266_681281678958174_8623268720635198201_n.jpg);
                    background-size:cover;
                    background-position:center;
                }
                .img2{
                    background-image: url(../imagenes/138960207_807621563300711_2091813697995530178_n.jpg);
                    background-size: cover;
                    background-position:center;
                }
                .img3{
                    background-image: url(../imagenes/57593738_411382389438578_567392472254431326_n.jpg);
                    background-size: cover;
                    background-position:bottom;
                }
                .img4{
                    background-image: url(../imagenes/152397828_3713372548750134_1409808329901898728_n.jpg);
                    background-size: cover;
                    background-position:top;
                }
                .img5{
                    background-image: url(../imagenes/xtour.jpg);
                    background-size: cover;
                    background-position:center;
                }
                .img6{
                    background-image: url(../imagenes/217175313_553997372402212_528623457652565791_n.jpg);
                    background-size: cover;
                    background-position:top;
                }
                .img7{
                    background-image: url(../imagenes/126385827_114867680440685_6589484813927382590_n.jpg);
                    background-size: cover;
                    background-position:top;
                }
                .img8{
                    background-image: url(../imagenes/xale_tocando.jpg);
                    background-size:cover;
                    background-position:center;
                }
            }
        }
        #form{
            .contenedor{
                background: #000000;
                background: -moz-linear-gradient(top, #000000 0%, #121212 20%, #FFFFFF 100%);
                background: -webkit-linear-gradient(top, #000000 0%, #121212 20%, #FFFFFF 100%);
                background: linear-gradient(to bottom, #000000 0%, #121212 20%, #FFFFFF 100%);
                padding: 20px 60px;
                display: flex; 
                align-items:center; 
                flex-direction: column;
                h2{
                    margin: 20px 10px;
                    color: #e6e4e4;
                    font-size: 27px;
                    padding-top: 20px;
                }
                p{
                    color: #e6e4e4;
                }
            }
        }
        #bio{
            .contenedor{
                background: #000000;
                background: -moz-linear-gradient(top, #000000 0%, #121212 20%, #FFFFFF 100%);
                background: -webkit-linear-gradient(top, #000000 0%, #121212 20%, #FFFFFF 100%);
                background: linear-gradient(to bottom, #000000 0%, #121212 20%, #FFFFFF 100%);
                padding: 30px 20px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                h4{
                    color:#e6e4e4;
                    border: 2px solid #E0FF00;
                    text-align: center;
                    margin: 0;
                    width: 120px;
                    padding: 10px;
                    border-radius:20px;
                    font-size: 13px;
                }
                h2{
                    color: #e6e4e4;
                    font-size: 27px;
                    padding-top: 20px;
                }
                p{
                    color: #e6e4e4;
                }
                .texto-bio{
                    display:inline-flex;
                    .bloque_parrafo_bio{
                        width:50%;
                        float: left;
                        padding-left:20px;
                        padding-top:20px;
                        padding-bottom: 20px;
                        .botones{
                            a{
                                background: #E0FF00;
                                color: black;
                                padding: 14px 19px;
                                line-height: 50px;
                                font-size: 13px;
                            }
                            a:hover{
                                background: yellow;
                            }
                        }
                    }
                    .contenedor_foto_perfil{
                        width:50%;
                        float: left;
                        padding-right:20px;
                        padding-top:20px;
                        padding-bottom: 20px;
                        .foto_perfil{
                            width:100%;
                            img{
                                width:100%;
                                height:100%;
                            }
                        }
                        .links_redes{
                            text-align: center;
                            padding-top:20px;
                            a{
                                padding-top:10px;
                                text-decoration: none;
                                img{
                                    width: 30px !important;
                                    height: 30px !important;
                                    margin: 0px 10px;
                                }
                            }
                        }
                    }
                }
                .carousel-inner img {
                    width: 100%;
                    height: 100%;
                    }
            }
        }
        #music{
            .contenedor{
                padding:20px 20px;
            }
        }
        footer{
            text-align: center;
            padding: 20.8px 20.8px;
            background: white;
            h3{
                font-size: 14px;
            }
            p{
                font-size: 14px;
            }
            .contenedor{
                .redes{
                    a{
                        text-decoration: none;
                        img{
                            width: 20px !important;
                            height: 20px !important;
                            margin: 10px 10px;
                        }
                    }
                }
                p{
                    font-family: "jost";
                }
            }
        }
    }
}
@media only screen and (min-width:768px) {
    body{
        a{
            text-decoration:none;
        }
        li{
            list-style: none;
        }
        header{
            height:95vh;
            .contenedor{
                min-height: 500px;
                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                .menu{
                    justify-content:space-between; 
                    padding-top: 20px;
                    flex-direction:row;
                    border-bottom: 1px groove #a8a8a8;
                    .logo-y-menu {
                        flex-direction:row;
                        .menu-icon{
                            display: none;
                        }
                        nav {
                            background:unset;
                            width:unset;
                            position:unset;
                            display: inline-block;
                            flex-direction: row;
                            color:#fff;
                            font-size: 15px;
                            ul{
                                flex-direction: row;
                                color:#fff;
                                font-size: 15px;
                                li{
                                    margin:0 20px;
                                    a{
                                        color:#E0FF00;
                                        font-size: 15px;
                                    }
                                    a:hover{
                                        color:yellow;
                                        text-decoration: underline;
                                    }      
                                }
                            }
                        }
                    }
                    .boton{
                        -webkit-box-shadow: 0px 0px 15px 2px #E0FF00; 
                        box-shadow: 0px 0px 15px 2px #E0FF00;
                        a{
                            padding:20px 40px;
                            font-size: 13px;
                        }
                        margin: 20px 20px;
                        display: flex;
                    }
                    .boton:hover{
                        a{
                            background: yellow;
                        }
                    }
                }
                .titular{
                    align-items: flex-end;
                    padding: 20px 240px;
                    h1{
                        font-size: 50px;
                        width:100%;
                    }
                    .botones{
                        a{
                            padding:20px 40px;
                            line-height: 100px;
                        }
                        .botones:hover{
                                background: yellow;
                        }
                        .scrollDown{
                            margin-top: -100px;
                        }
                    }
                }
            }
        }
        .header_pages{
            height:unset;
            .contenedor{
                background:black;
                min-height: unset;
                .menu{
                    justify-content:space-between; 
                    padding-top: 20px;
                    flex-direction:row;
                    border-bottom: 1px groove #a8a8a8;
                    .logo-y-menu {
                        flex-direction: row;
                        .menu-icon{
                            display: none;
                        }
                        nav{
                        background:unset;
                        width:unset;
                        position:unset;
                        display: inline-block;
                        flex-direction: row;
                        color:#fff;
                        font-size: 15px;
                        ul{
                            flex-direction: row;
                            color:#fff;
                            font-size: 15px;
                            li{
                                margin:0 20px;
                                a{
                                    color:#E0FF00;
                                    font-size: 15px;
                                }
                                a:hover{
                                    color:yellow;
                                    text-decoration: underline;
                                }      
                            }
                        }
                        }
                    }
                }
                .boton{
                    -webkit-box-shadow: 0px 0px 15px 2px #E0FF00; 
                    box-shadow: 0px 0px 15px 2px #E0FF00;
                    a{
                        padding:20px 40px;
                        font-size: 13px;
                    }
                    margin: 20px 20px;
                    display: flex;
                }
                .boton:hover{
                    a{
                        background: yellow;
                    }
                }
            }
        }
        #discografia {
            //padding: 40px 40px;
            p{
                font-size: 14px;
                line-height: 27px;
                margin-bottom: 40px;
            }
            img {
                width: 100%;
                padding:20px 20px;
            }
            .contenedor{
                padding: 80px 240px;
                flex-direction: row;
                //padding-top: 140px;
                // .foto{
                //     width:30%;
                // }
                .texto{
                    width: 50%;
                    //margin-top: 40px;
                    h2 {
                        font-size: 50px;
                        margin-bottom: 10px;
                    }
                    h4{
                        border-radius:60px;
                        font-size: 13px;
                        text-align: center;
                        margin-bottom: 10px;
                    }
                    a{
                        padding:20px 40px;
                        line-height: 100px;
                    }
                    a:hover{
                        background-color: yellow;
                    }
                }
            }
        }
        #about {
            .contenedor{
                padding: 80px 240px;
                h4{
                    border-radius:60px;
                    font-size: 13px;
                    text-align: center;
                }
                .contenedor-textos{
                    display: flex;
                    flex-direction: row;
                    h2{
                        padding-top: 20px;
                    }
                    .texto-derecha{
                        margin: 0 10px;
                    }
                    .texto-izquierda{
                        margin: 0 10px;
                    }
                }
            }
        }
        #form{
            .contenedor{
                padding: 20px 240px;
            }
            
        }
        #tour {
            .contenedor{
                padding-left: 240px;
                padding-right: 240px;
                padding-top: 80px;
                padding-bottom: 0px;
                flex-direction: row;
                .imagen{
                    width: 30%;
                    top: -130px;
                }
                .texto{
                    width: 55%;
                    h4{
                        font-size: 15px;
                    }
                    h2{
                        padding-top: 20px;
                    }
                }
            }
            .fechas{
                padding: 0px 240px;
                flex-direction: row; 
                .boton{
                    margin-bottom: 5px;
                    a{
                        background: white;
                        color: black;
                        padding: 15px 30px;
                    }
                }
            }
        }
        #music{
            .contenedor{
                padding: 20px 240px;
            }
        }
        #bio{
            .contenedor{
                padding: 60px 240px;
                .carousel-inner{
                    padding-top: 40px;
                }
            }
        }
        .galeria{
            .contenedor{
                padding: 60px 140px;
                grid-template-columns: repeat(4, 1fr);
                .img1 {
                    grid-column: 1/2;
                    grid-row: 1/3;
                }
                .img2 {
                    grid-column: 2/3;
                    grid-row: 1/2;
                }
                .img3 {
                    grid-column: 3/5;
                    grid-row: 1/2;
                }
                .img4 {
                    grid-column: 1/2;
                    grid-row: 3/4;
                }
                .img5 {
                    grid-column: 2/3;
                    grid-row: 2/4;
                }
                .img6 {
                    grid-column: 3/4;
                    grid-row: 2/3;
                }
                .img7 {
                    grid-column: 4/5;
                    grid-row: 2/3;
                }
                .img8 {
                    grid-column: 3/5;
                    grid-row: 3/4;
                }
            }
        }
    }
}
@media only screen and (min-width:480px) and (max-width:767px) {
    body{
        a{
            text-decoration:none;
        }
        li{
            list-style: none;
        }
        h2 {
            font-size: 27px !important;
        }
        header{
            .boton{
                a{
                    background:#E0FF00;
                    color: black;
                    padding: 14px 19px;
                    line-height: 50px;
                    font-size: 13px;
                }
            }
            .botones{
                a{
                    background:#E0FF00;
                    color: black;
                    padding: 14px 19px;
                    line-height: 50px;
                    font-size: 13px;
                }
            }
            .contenedor{
                .menu{
                    flex-direction: column;
                    .logo-y-menu {
                        justify-content: space-between;
                        .menu-icon{
                            display: none;
                        }
                        nav {
                            background:#E0FF00;
                            width: 100%;
                            position: absolute;
                            top: 130px;
                            display: none;
                            left: 0;
                            ul{
                                flex-direction: column; 
                                li{
                                    margin-bottom: 10px;
                                    a{
                                        color: black;
                                        margin: bottom 10px;
                                    }
                                    a:hover{
                                        color: white;
                                    }                    
                                }
                            }
                        }
                    }
                    .boton{
                        margin-top: 220px;
                        display: none;
                    }
                }
                .titular{
                    margin-top: 19vh;
                    h1{
                        font-size: 32px;
                        padding-top: 20px;
                    }
                    .botones{
                        a{
                            padding:20px 40px;
                            line-height: 100px;
                        }
                        .scrollDown{
                            img{
                                margin-top: 0px;
                            }
                        }
                    }
                }
            }
        }            
        #discografia {
            a{
                background: #E0FF00;
                color: black;
                padding: 14px 19px;
                line-height: 50px;
                font-size: 13px;
            }
            .contenedor{
                flex-direction: column;
                .foto{
                    width: 82%;
                    margin-top: 20px;
                }
                .texto{
                    width: 100%;
                }
            }
        }
        #about {
            .contenedor{
                .contenedor-textos{
                    flex-direction:column;
                }
            }
        }
        #tour {
            padding: 60px 0;
            .contenedor{
                flex-direction: column;
                .imagen{
                    width: 65%;
                    position: relative;
                    top: -27px;
                }
                .texto{
                    width: 100%;
                }
            }
            .fechas{
                flex-direction: column;
                div{
                    margin-bottom: 10px;
                }
                .boton{
                    margin-bottom: 10px;
                    a{
                        background: white;
                        color: black;
                        padding: 15px 30px;
                    }
                }
            }
        }
        .galeria{
            .contenedor{
                padding: 20px 20px;
                grid-template-columns: repeat(3, 1fr);
                .img8 {
                    grid-column: 2/4;
                }
            }
        }
    }
}
@media only screen and (min-width:320px) and (max-width:479px) {
    body{
        a{
            text-decoration:none;
        }
        li{
            list-style: none;
        }
        h2 {
            font-size: 27px !important;
        }
        header{
            .boton{
                a{
                    display: none;
                }
            }
            .botones{
                a{
                    background: #E0FF00;
                    color: black;
                    padding: 14px 19px;
                    line-height: 50px;
                    font-size: 13px;
                }
            }
            .contenedor{
                .menu{
                    flex-direction: column; 
                    .logo-y-menu {
                        justify-content: space-between;
                        .menu-icon{
                            display: none;
                        }
                        nav {
                            background:#E0FF00;
                            width: 100%;
                            position: absolute;
                            top: 130px;
                            display: none;
                            left: 0;
                            ul{
                                flex-direction: column; 
                                li{
                                    margin-bottom: 10px;
                                    a{
                                        color: black;
                                        margin: bottom 10px;
                                    }
                                    a:hover{
                                        color: white;
                                    }                    
                                }
                            }
                        }
                    }
                    .boton{
                        margin-top: 220px;
                        display: none;
                    }
                }
                .titular{
                    margin-top: 19vh;
                    h1{
                        font-size: 32px;
                        padding-top: 20px;
                    }
                    .botones{
                        a{
                            padding:20px 40px;
                            line-height: 100px;
                        }
                        .scrollDown{
                            img{
                                margin-top: 0px;
                            }
                        }
                    }
                }
            }
        }            
        #discografia {
            a{
                background: #E0FF00;
                color: black;
                padding: 14px 19px;
                line-height: 50px;
                font-size: 13px;
            }
            .contenedor{
                flex-direction: column;
                .foto{
                    width: 82%;
                    margin-top: 20px;
                }
                .texto{
                    width: 100%;
                }
            }
        }
        #about {
            .contenedor{
                .contenedor-textos{
                    flex-direction:column;
                }
            }
        }
        #tour {
            padding: 60px 0;
            .contenedor{
                flex-direction: column;
                .imagen{
                    width: 65%;
                    position: relative;
                    top: -27px;
                }
                .texto{
                    width: 100%;
                }
            }
            .fechas{
                flex-direction: column;
                div{
                    margin-bottom: 10px;
                }
                .boton{
                    margin-bottom: 10px;
                    a{
                        background: white;
                        color: black;
                        padding: 15px 30px;
                    }
                }
            }
        }
        .galeria{
            .contenedor{
                padding: 20px 20px;
                grid-template-columns: repeat(2, 1fr);
                .img1 {
                    grid-column: 1/3;
                    grid-row: 1/2;
                }
                .img2 {
                    grid-column: 2/3;
                    grid-row: 2/4;
                }
                .img5 {
                    grid-column: 1/3;
                    grid-row: 4/5;
                }
                .img8 {
                    grid-column: 1/3;
                }
            }
        }
    }
}
@-webkit-keyframes AnimationGradient {
    0%{background-position:0% 0%}
    50%{background-position:93% 100%}
    100%{background-position:0% 0%}
}
@-moz-keyframes AnimationGradient {
    0%{background-position:0% 0%}
    50%{background-position:93% 100%}
    100%{background-position:0% 0%}
}
@keyframes AnimationGradient {
    0%{background-position:0% 0%}
    50%{background-position:93% 100%}
    100%{background-position:0% 0%}
}